<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>品牌厂家直供平台</title>
</head>
<body>
<div style="padding:10px;">
    <p style="text-align:center">
        <strong><span style="font-size:19px;font-family: 宋体">画版平台合作厂家用户协议</span></strong>&nbsp;
    </p>
    <p style="line-height:21px">
        <strong><span style=";font-family:宋体">【导言】</span></strong>&nbsp;
    </p>
    <p style="text-indent:32px;line-height:21px">
        <span style=";font-family:宋体">欢迎您注册申请成为画版</span><span style=";font-family:宋体">平台</span><span style=";font-family:宋体">合作厂家用户！本协议相关概念定义与《画版</span><span style=";font-family:宋体">平台</span><span style=";font-family:宋体">用户服务协议及隐私权政策》中的一致。</span>&nbsp;
    </p>
    <p style="text-indent:32px;line-height:21px">
        <span style=";font-family:宋体">本协议所指合作厂家用户，指经过画版公司审核认可、开通合作厂家账户功能，在画版</span><span style=";font-family:宋体">平台</span><span style=";font-family:宋体">中开设虚拟厂家进行艺术作品衍生品销售、并取得收益的自然人或企业法人。</span>&nbsp;
    </p>
    <p style="text-indent:32px;line-height:21px">
        <span style=";font-family:宋体">本协议所指衍生品：指将艺术作品以任何形式、使用任何媒介，部分或全部地复制到一定的载体上而形成的实物产品。</span>&nbsp;
    </p>
    <p style="text-indent:32px">
        <span style=";font-family:宋体">合作厂家用户享有一切普通用户所拥有的账户功能与权利，并应当遵守《画版</span><span style=";font-family:宋体">平台</span><span style=";font-family:宋体">用户服务协议及隐私权政策》。</span>&nbsp;
    </p>
    <p style="margin-left:28px">
        <strong><br/></strong>
    </p>
    <p style="margin-left:28px">
        <strong>1.<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></strong><strong><span style=";font-family:宋体">合作厂家账户的获得</span></strong>&nbsp;
    </p>
    <p style="margin-left:48px">
        1.1<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">合作厂家应当先行注册一个普通用户，在此基础上再申请开通合作厂家功能，每个主体（自然人</span>/<span style=";font-family:宋体">企业法人）最多只能持有一个合作厂家账户，一个画版账户同时开通艺术家用户、合作厂家用户、代理商用户、推广服务商其中两种或两种以上特殊用户功能的，视为一个账户。</span>&nbsp;
    </p>
    <p style="margin-left:48px">
        1.2<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">如果您以个人身份申请签约合作厂家的，您需具备中华人民共和国法律规定的完全民事行为能力，如您欺骗、隐瞒事实真相或本协议签订后丧失了部分或全部民事行为能力，画版公司有权随时下架您的所有在售商品、关停您在画版平台中的店铺、注销您的合作厂家账户或将您的账户调整为普通用户账户。</span>&nbsp;
    </p>
    <p style="margin-left:48px">
        1.3<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">如果您以企业法人身份申请签约合作厂家的，该法人应当依法领取了中华人民共和国企业法人营业执照（如您销售的产品、提供的服务因市场准入限制需获得相应政府审批的，您应当完成相应的政府审批程序，取得相关资质与证照），拟申请销售的商品</span>/<span style=";font-family:宋体">服务应当属于该企业法人经营范围内，否则画版公司有权参照本协议第</span>5.2<span style=";font-family:宋体">条采取监管措施。</span>&nbsp;
    </p>
    <p style="margin-left:48px">
        1.4<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">无论以自然人领取个体户执照还是企业法人营业执照申请画版签约合作厂家，在发生工商登记事项变更时，您应当在变更之日起七个工作日内更新您的账户信息，否则画版公司有权参照本协议第</span>5.2<span style=";font-family:宋体">条采取监管措施。</span><span style="text-indent: 28px;">&nbsp;</span>
    </p>
    <p style="margin-left:48px">
        1.5<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">您必须在限期内完成实名认证</span>/<span style=";font-family:宋体">店铺认证，否则画版公司有权关闭该账户下的虚拟店铺并注销相应的合作厂家账户。</span><span style="text-indent: 32px;">&nbsp;</span>
    </p>
    <p style="margin-left:48px">
        1.6<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">您应按照画版公司相关规定足额支付保证金，作为您遵守本协议的保证。该费用在您注销合作厂家账户时予以退还。如您违反本协议约定给画版公司普通用户（买家）或画版公司造成损失，画版公司有权从您保证金中直接扣减，并要求您将保证金补足。否则，画版公司有权在未来需向您发放的分成中先行扣减应补足的保证金。</span>
    </p>
    <p style="margin-left:48px">
        1.7<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">您成为画版平台合作厂家后，可以向画版公司申请成为画版平台代理商，但应当遵守《画版平台代理商合作协议》以及相关代理商的服务条款、规则、制度。</span>
    </p>
    <p style="margin-left:48px">
        <span style=";font-family:宋体"><br/></span>
    </p>
    <p style="margin-left:28px">
        <strong>2.<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></strong><strong><span style=";font-family:宋体">开设店铺及商品销售</span></strong>
    </p>
    <p style="margin-left:48px">
        2.1<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">您可以在画版</span><span style=";font-family:宋体">平台</span><span style=";font-family:宋体">上开设虚拟店铺，销售衍生品，所有拟销售产品均需经过画版公司的审核。</span>&nbsp;
    </p>
    <p style="margin-left:48px">
        2.2<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">您开设虚拟店铺需要按画版平台相关规定缴纳年费，画版公司可视情况给予合作厂家适当的年费优惠及豁免政策。</span><span style="text-indent: 32px;">&nbsp;</span>
    </p>
    <p style="margin-left:48px">
        2.3<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">您应当在相应的页面填写店铺简介信息，同时对每一项拟销售商品填写其商品名称、关键词、类目、库存数量、规格、尺寸、载体、产品描述、预计发货时间等商品信息并上传产品图片。您可自由设置并随时调整产品销售价格、退换货条件、发货时间，但应当符合画版</span><span style=";font-family:宋体">平台</span><span style=";font-family:宋体">的相应规则。</span><span style="text-indent: 32px;">&nbsp;</span>
    </p>
    <p style="margin-left:48px">
        2.4<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">对于拟销售的商品，您需要设置是否启用代理。如您设置了代理，可将代理信息以成二维码的形式印刷在衍生品样品上，也可以设置专门的代理链接。</span>&nbsp;
    </p>
    <p style="margin-left:48px">
        2.5<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">对于拟销售的商品，您需要设置是否接受优惠券。如您设置了接受，消费者可凭借其持有的您或者其他画版平台合作厂家采购的艺术作品版权授权编码（简称“授权编码”）所绑定的优惠券在购买衍生品时获取一定程度的价格优惠，具体优惠的幅度由您设定。</span><span style="text-indent: 32px;">&nbsp;</span>
    </p>
    <p style="margin-left:48px">
        2.6<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">对于拟销售的商品，您需要设置是否开通推广服务。如您设置了开通，您可以在画版平台购买推广服务商在售的商品推广服务，并按照本协议第三条约定支付相应推广费用，您并同意按照画版公司制定的相关推广服务交易规则进行交易。</span><span style="text-indent: 32px;">&nbsp;</span>
    </p>
    <p style="margin-left:48px">
        2.7<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">如您设置启用了代理商、优惠券功能、推广服务或者其中任一服务，您应当设定相应的佣金基数及分配比例。佣金基数是指合作厂家从单个商品的销售收入中拿出的、按照不同的场景和比例分配给画版平台、代理商、授权编码来源方（简称“码源”）、推广商作为其服务报酬的特定金额。您可以修改佣金基数和分配比例。具体设置及分配比例请参照本协议第</span>3<span style=";font-family:宋体">条“销售分成”约定。</span><span style="text-indent: 32px;">&nbsp;</span>
    </p>
    <p style="margin-left:48px">
        2.8<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">画版公司根据与您达成的《衍生品授权使用合同》协议，向您的画版账户发放相应的版权授权编码。您有义务将画版平台的二维码印刷在您的商品外包装上或推广链接上，消费者在购买了一个您的商品并扫取二维码后可注册成为画版平台用户，并获取一个授权编码。该新注册用户持有的授权编码将在画版平台内标记为您的码源渠道，而该新注册用户将标记为您的邀新用户。</span>&nbsp;
    </p>
    <p style="margin-left:48px">
        2.9<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">您在此同意，当画版</span><span style=";font-family:宋体">平台</span><span style=";font-family:宋体">其他用户（买家）拍下您销售的商品并付款至画版支付平台后，您即与买家达成了商品销售协议，并自愿接受协议的束缚。</span><span style="text-indent: 32px;">&nbsp;</span>
    </p>
    <p style="margin-left:48px">
        2.10<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">您应当在买家付款后按照您设定的或与买家商定的发货时间发货，发货地址按照买家填写的地址为准，您需负责商品的妥善包装，以保证其不会因长途运输而受损。</span>&nbsp;
    </p>
    <p style="margin-left:48px">
        2.11<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">在买家确认收货后的十五（</span>15<span style=";font-family:宋体">）日，画版公司在扣除第三方支付渠道授权的费用后将货款划拨到您的账户，您可随时进行提现。</span><span style="text-indent: 32px;">&nbsp;</span>
    </p>
    <p style="margin-left:48px">
        2.12<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">对于商品或服务的销售收入，依据国家法律法规及相关规定需要缴纳税款的，您有义务自行申报并及时、足额地缴纳税款。</span>
    </p>
    <p style="margin-left:48px">
        &nbsp;
    </p>
    <p style="margin-left:28px">
        <strong>3.<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></strong><strong><span style=";font-family:宋体">佣金基数的分成</span></strong><strong>&nbsp;</strong>
    </p>
    <p style="margin-left:48px">
        3.1<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">合作厂家商品销售的佣金基数由您自主设置，参与分配的主体分为画版平台、代理商、码源、推广四个部分。除了画版分成比例为固定地占佣金基数的</span>20%<span style=";font-family:宋体">以外，其他三部分的比例均可由合作厂家自主设置。</span>&nbsp;
    </p>
    <p style="margin-left:48px">
        3.2<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">消费者付款后，画版平台将自动检测是否使用了授权编码绑定的优惠券及码源、邀新注册渠道、是否存在代理，是否存在推广商等情况，并按照不同场景进行分成。</span>&nbsp;
    </p>
    <p style="margin-left:48px">
        3.3<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">您在此同意合作厂家商销售佣金基数的分成模式如下：</span><span style="text-indent: 32px;">&nbsp;</span>
    </p>
    <p style="margin-left:25px;text-indent:0">
        1)<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp; </span><strong><span style=";font-family:宋体">使用优惠码且授权编码码源为您、无代理的情形</span></strong><span style=";font-family:宋体">：当买家使用了您购买的授权编码绑定的优惠券购买您的商品，且该商品的销售未检测到代理码时，佣金基数全额分成均由您享有，分成数额</span>=<span style=";font-family:宋体">佣金基数</span>*100%<span style=";font-family:宋体">（如您使用了推广服务，则需在佣金基数中扣除推广商应分得的比例）；</span>&nbsp;
    </p>
    <p style="margin-left:25px;text-indent:0">
        2)<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp; </span><strong><span style=";font-family:宋体">使用优惠码且授权编码码源为您、有代理的情形：</span></strong><span style=";font-family:宋体">当买家使用了您购买的授权编码所绑定的优惠券购买您的商品，且该商品的销售检测到代理码时，佣金基数分成模式为：平台分成由画版公司取得，分成数额</span>=<span style=";font-family:宋体">佣金基数</span>*20%<span style=";font-family:宋体">；代理分成由代理商取得，分成数额</span>=<span style=";font-family:宋体">佣金基数</span>*<span style=";font-family:宋体">代理商分成比例；码源分成由您取得，分成数额</span>=<span style=";font-family:宋体">佣金基数</span>*<span style=";font-family:宋体">码源分成比例；推广分成由推广商取得，分成数额</span>=<span style=";font-family:宋体">佣金基数</span>*<span style=";font-family:宋体">推广商分成比例。（如您未使用商品推广服务的，该部分由您取得）。</span>&nbsp;
    </p>
    <p style="margin-left:25px;text-indent:0">
        3)<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp; </span><strong><span style=";font-family:宋体">使用优惠码且授权编码码源为其他厂家、无代理的情形：</span></strong><span style=";font-family:宋体">当买家使用了其他合作厂家购买授权编码所绑定的优惠券购买您的商品，且该商品的销售未检测到代理码时，佣金基数分成模式为：平台分成由画版公司取得，分成数额</span>=<span style=";font-family:宋体">佣金基数</span>*20%<span style=";font-family:宋体">；代理分成由画版公司取得，分成数额</span>=<span style=";font-family:宋体">佣金基数</span>*<span style=";font-family:宋体">代理商分成比例；码源分成由其他合作厂家取得，分成数额</span>=<span style=";font-family:宋体">佣金基数</span>*<span style=";font-family:宋体">码源分成比例；推广分成由推广商取得，分成数额</span>=<span style=";font-family:宋体">佣金基数</span>*<span style=";font-family:宋体">推广商分成比例。（如您未使用商品推广服务的，该部分由您取得）。</span>&nbsp;
    </p>
    <p style="margin-left:25px;text-indent:0">
        4)<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp; </span><strong><span style=";font-family:宋体">使用优惠码且授权编码码源为其他厂家、有代理的情形：</span></strong><span style=";font-family:宋体">当买家使用了其他合作厂家购买授权编码所绑定的优惠券购买您的商品，且该商品的销售检测到代理时，佣金基数分成模式为：平台分成由画版公司取得，分成数额</span>=<span style=";font-family:宋体">佣金基数</span>*20%<span style=";font-family:宋体">；代理分成由代理商取得，分成数额</span>=<span style=";font-family:宋体">佣金基数</span>*<span style=";font-family:宋体">代理商分成比例；码源分成由其他合作厂家取得，分成数额</span>=<span style=";font-family:宋体">佣金基数</span>*<span style=";font-family:宋体">码源分成比例；推广分成由推广商取得，分成数额</span>=<span style=";font-family:宋体">佣金基数</span>*<span style=";font-family:宋体">推广商分成比例。（如您未使用商品推广服务的，该部分由您取得）。</span>&nbsp;
    </p>
    <p style="margin-left:25px;text-indent:0">
        5)<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp; </span><strong><span style=";font-family:宋体">未使用优惠码、无代理的情形：</span></strong><span style=";font-family:宋体">当买家未使用任何优惠券购买您的商品，且该商品的销售未检测到代理时，佣金基数分成全部由您取得。分成数额</span>=<span style=";font-family:宋体">佣金基数</span>*100%-<span style=";font-family:宋体">佣金基数</span>*<span style=";font-family:宋体">推广商分成比例（如您使用了推广服务，则需在佣金基数中扣除推广商应分得的比例）。</span>&nbsp;
    </p>
    <p style="margin-left:25px;text-indent:0">
        6)<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp; </span><strong><span style=";font-family:宋体">未使用优惠码、有代理的情形：</span></strong><span style=";font-family:宋体">当买家未使用任何优惠券购买您的商品，且该商品的销售检测到代理时，佣金基数分成模式为：平台分成由画版公司取得，分成数额</span>=<span style=";font-family:宋体">佣金基数</span>*20%<span style=";font-family:宋体">；代理分成由代理商取得，分成数额</span>=<span style=";font-family:宋体">佣金基数</span>*<span style=";font-family:宋体">代理商分成比例；推广分成由推广商取得，分成数额</span>=<span style=";font-family:宋体">佣金基数</span>*<span style=";font-family:宋体">推广商分成比例，（如您未使用商品推广服务的，该部分由您取得）。码源分成则检测该用户邀新渠道（代理邀新、厂家邀新、艺术家邀新、平台注册中的一种）对应地由代理商、合作厂家、艺术家或画版公司取得，码源分成数额</span>=<span style=";font-family:宋体">佣金基数</span>*<span style=";font-family:宋体">码源分成比例）。</span>
    </p>
    <p>
        <strong>&nbsp;</strong>
    </p>
    <p style="margin-left:28px">
        <strong>4.<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></strong><strong><span style=";font-family:宋体">管理</span></strong>&nbsp;
    </p>
    <p style="margin-left:48px">
        4.1<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">画版公司有权制定关于规范虚拟店铺经营、产品销售与售后服务、交易争议处理等相关的规则、办法、制度。您同意遵守画版公司不时制定、修改的《画版</span><span style=";font-family:宋体">平台</span><span style=";font-family:宋体">用户服务协议及隐私权政策》、本协议以及其他可能适用的规则、办法、制度。为便于理解，该等规范文件可能会以更灵活的方式呈现，例如在相应页面中以“店铺经营常见问题说明”、“温馨提示”等形式呈现，而不一定形成格式化、体系性的制度文件，您同意将予以密切关注并遵守。</span>
    </p>
    <p style="margin-left:48px">
        4.2<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">对于有证据显示或画版公司根据相关用户服务条款判断您存在不当注册或不当使用多个画版合作厂家账户的情形，画版公司可采取强制合并、账户冻结</span>/<span style=";font-family:宋体">关闭、注销账户、取消订单、拒绝提供服务等措施，如给画版公司及相关方造成损失的，您还应当承担赔偿损失的责任。</span>&nbsp;
    </p>
    <p style="margin-left:48px">
        4.3<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">画版公司对于您拟销售的商品享有审批权，您不能在画版</span><span style=";font-family:宋体">平台</span><span style=";font-family:宋体">虚拟店铺中出售以下商品或服务：</span>
    </p>
    <p style="margin-left:25px;text-indent:0">
        1)<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp; </span><span style=";font-family:宋体">法律法规禁止进入流通领域的产品；</span>
    </p>
    <p style="margin-left:25px;text-indent:0">
        2)<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp; </span><span style=";font-family:宋体">无生产日期、无质量合格证以及无生产厂家的产品；</span>
    </p>
    <p style="margin-left:25px;text-indent:0">
        3)<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp; </span><span style=";font-family:宋体">存在质量、安全、环保、卫生隐患的产品；</span>
    </p>
    <p style="margin-left:25px;text-indent:0">
        4)<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp; </span><span style=";font-family:宋体">侵犯他人知识产权、合法权益的作品；</span>
    </p>
    <p style="margin-left:25px;text-indent:0">
        5)<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp; </span><span style=";font-family:宋体">其他画版公司认为不适合在画版</span><span style=";font-family:宋体">平台</span><span style=";font-family:宋体">中销售的产品。</span>
    </p>
    <p style="margin-left:48px">
        4.4<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">您保证您所发布的商品与实际情况相符，不得对其来源、质量、性能、功效做任何虚假的、欺骗的、夸大的或可能误导消费者的宣传，不得从事任何可能违反消费者权益保护法规、反不正当竞争法规及其他相关法律法规的行为。</span>&nbsp;
    </p>
    <p style="margin-left:48px">
        4.5<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">您同意将与画版平台其他合作厂家保持相互尊重、良性竞争的关系，不会诋毁、贬损其他合作商户的产品，共同维护画版平台的良好口碑。</span>&nbsp;
    </p>
    <p style="margin-left:48px">
        4.6<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">您同意，针对画版平台中出现的各类纠纷、争议，包括但不限于产品质量争议、侵权争议、费用结算争议、合作厂家与艺术家之间纠纷等，画版公司有权进行调查处理，并先行采取暂时下架、暂停销售、暂停销售款项分配及提现等临时措施措施。处理结果包括判定任一方违约、从违约方账户资金直接进行赔付等，您应尽量配合。如您对调处结果不服，您有权向行政部门、司法机关寻求救济。</span>&nbsp;
    </p>
    <p style="margin-left:48px">
        4.7<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">您在此同意，如您对推广服务商交付的商品推广素材不满意，您可要求无条件退款或不分配推广分成，但您不得使用或部分使用（包括在画版平台使用或其他线上、线下渠道使用）该商品推广素材。如画版公司或推广服务商发现您使用了或部分使用了该商品推广素材，您应全额支付相应款项。</span><span style="text-indent: 32px;">&nbsp;</span>
    </p>
    <p style="margin-left:48px">
        4.8<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">画版公司可能会根据整体资金结算情况的调整销售款项结算、账户资金的提现程序及周期，但会优先考虑您的合法权益，您应充分配合并予以谅解。</span>&nbsp;
    </p>
    <p style="margin-left:48px">
        4.9<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">画版公司将构建同类商品</span>/<span style=";font-family:宋体">服务的搜索、排序机制，但您应当充分理解，该等搜索、排序机制构成画版公司的商业秘密，任何商户不得通过任何手段尝试窃取、改变、破坏、公开该等搜索、排序机制。</span>&nbsp;
    </p>
    <p style="margin-left:48px">
        4.10<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">签约合作厂家应当本协议有效期内持续满足生产、销售衍生品及其他自有品牌产品所具备的资质、证照，如在有效期内部分丧失或全部丧失相应资质、证照的，或者因产品质量、安全、卫生问题遭受行政处罚的，画版公司有权视严重程度采取下架相关商品、关停相应店铺、以及注销账户等措施。</span>&nbsp;
    </p>
    <p style="margin-left:48px">
        4.11<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">针对累计【</span>365<span style=";font-family:宋体">】日内店铺在售商品、服务数量为零的，构成“非活跃店铺”。画版公司有权单方关停“非活跃店铺”、取消签约合作厂家资格、注销签约合作厂家账户以及解除本协议。</span>&nbsp;
    </p>
    <p style="margin-left:48px">
        4.12<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">合作厂家账户以及店铺的转让，需得到画版公司的审批同意并完成画板规定的相应程序。</span>&nbsp;
    </p>
    <p style="margin-left:48px">
        4.13<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">画版公司将可能推出商品</span>/<span style=";font-family:宋体">服务的评价机制、店铺评级机制（人气数、收藏数、累计好评数、信用等级等），任何签约合作厂家不得利用作弊程序、寻找漏洞、虚假交易等一切不正当手段伪造、篡改自身的评价数据、评级数据，否则画版公司有权按照本协议第</span>5.2<span style=";font-family:宋体">条采取监管措施。</span>
    </p>
    <p style="margin-left:48px">
        <span style=";font-family:宋体"><br/></span>
    </p>
    <p style="margin-left:28px">
        <strong>5.<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></strong><strong><span style=";font-family:宋体">违约及处理</span></strong>
    </p>
    <p style="margin-left:48px">
        5.1<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">除《画版</span><span style=";font-family:宋体">平台</span><span style=";font-family:宋体">用户服务协议及隐私权政策》所约定的违约情形外，违反本协议、您与画版公司签署的《衍生品版权使用合同》及其他双方签署的法律文件、虚拟店铺经营、产品销售、交易争议处理等相关的规则、办法、制度，也将构成您的违约行为。</span>
    </p>
    <p style="margin-left:48px">
        5.2<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">针对您的每一项违约行为，画版公司除可依据《画版</span><span style=";font-family:宋体">平台</span><span style=";font-family:宋体">用户服务协议及隐私权政策》、《衍生品版权使用合同》及其双方签署的其他法律文件采取救济措施外，画版公司还能采取以下额外救济措施：</span>
    </p>
    <p style="margin-left:25px;text-indent:0">
        1)<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp; </span><span style=";font-family:宋体">下架或暂时下架相关商品；</span>
    </p>
    <p style="margin-left:25px;text-indent:0">
        2)<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp; </span><span style=";font-family:宋体">关闭或暂时关闭相关虚拟店铺；</span>
    </p>
    <p style="margin-left:25px;text-indent:0">
        3)<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp; </span><span style=";font-family:宋体">停止或暂时停止相关结算、提现程序；</span>
    </p>
    <p style="margin-left:25px;text-indent:0">
        4)<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp; </span><span style=";font-family:宋体">取消合作厂家资格、注销相应账户。</span>
    </p>
    <p>
        <br/>
    </p>
    <p style="margin-left:28px">
        <strong>6.<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></strong><strong><span style=";font-family:宋体">其他</span></strong>
    </p>
    <p style="margin-left:48px">
        6.1<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">您应当在注销合作厂家账户前下架所有商品与服务并对您账户的资金进行全部提现。对于未完成的交易，您应当继续履约并继续承担相应的售后服务。如有任何客观上、技术上的障碍，您应当及时与画版公司沟通，画版公司将尽可能配合相应未结交易的善后处理，您未穷尽相应救济措施引发交易纠纷的，画版公司不承担任何法律责任。</span>&nbsp;
    </p>
    <p style="margin-left: 48px;">
        6.2<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";font-family:宋体">本协议未作约定的事项，您同意按照《画版</span><span style=";font-family:宋体">平台</span><span style=";font-family:宋体">用户服务协议及隐私权政策》、《衍生品版权使用合同》及其双方签署的其他法律文件执行。本协议约定内容与《画版</span><span style=";font-family:宋体">平台</span><span style=";font-family:宋体">用户服务协议及隐私权政策》、《衍生品版权使用合同》及其双方签署的其他法律文件不一致的，由画版公司保留对不一致条款进行解释的权利。</span>
    </p>
</div>


</body>
</html>