<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>品牌厂家直供平台</title>
</head>
<body>
<div style="padding:10px;word-wrap: break-word; white-space: pre-wrap;">
    <pre style="color:black;font-family:'宋体';font-size:12.0pt;word-wrap: break-word; white-space: pre-wrap;">
        <h2 style="text-align: center;font-size: 29px;margin-top:-20px;">画版平台用户服务协议及隐私权政策</h2>
        <br>    欢迎您与画版公司（详见定义条款）签署本《画版平台用户服务协议及隐私权政策》并使用画版平台服务！
        <br>    您在画版平台账户申请注册页面中点击同意本协议或使用您已合法拥有的微信账户登陆画版平台之前，请您务必审慎阅读、充分理解各条款内容，以及画版公司为推出某种服务另行单独制定的条款<span
            style="font-family:'Fira Code';">/</span>规则（该等条款<span style="font-family:'Fira Code';">/</span>规则亦将公布在相应服务页面中，请您务必注意）特别是免除或者限制责任的条款，该等条款可能以加粗形式进行提示，您应重点阅读。<br><br>    如您决定不申请画版平台账户，您也可以正常浏览、搜索画版平台中信息，但您不得实施侵犯画版公司及<span
            style="font-family:'Fira Code';">/</span>或其他第三方依法享有的合法权利的行为。<br><br>    除非您已阅读并接受本协议所有条款，否则您无权申请和使用画版账户。当您按照注册页面提示填写信息申请账户或授权使用您已合法拥有的微信账户登陆画版平台即表示您已充分阅读、理解并接受本协议全部内容，与画版公司达成一致。<br><br>    如您对本协议有任何疑问，可以向画版平台客服咨询。在您阅读本协议的过程中，如果您不同意本协议中任何条款约定，您应立即停止注册并退出画版平台账户登录，同时停止使用画版平台相关服务。<br><br>目录<br>一、定义<br>二、协议范围及补充与变更<br>三、账户注册、使用与注销<br>四、服务内容及管理<br>五、知识产权与法律声明<br>六、用户的违约及处理<br>七、通知<br>八、协议的终止<br>九、法律适用与管辖<br>十、隐私权政策<br><br>一、定义<br><br><span
            style="font-family:'Fira Code';">1.1</span>画版<span style="font-family:'Fira Code';">App</span>：是指由深圳画版文化有限公司开发或委托他人开发、运营的名为<span
            style="font-family:'Fira Code';">“</span>画版<span style="font-family:'Fira Code';">”</span>的手机软件应用程序，旨在为用户提供限量美术作品原作、原作复制品及衍生产品销售、版权转让、版权授权服务及相关服务一站式服务平台。为优化服务质量、用户使用体验，画版<span
            style="font-family:'Fira Code';">App</span>经营者将适时修改、完善并发布最新版本程序，本协议所指<span style="font-family:'Fira Code';">“</span>画版<span
            style="font-family:'Fira Code';">App”</span>应包含各用户智能手机中未及时更新的以及各类智能手机软件下载平台可供用户下载的各历史版本的画版<span
            style="font-family:'Fira Code';">App</span>应用程序。<br><br><span style="font-family:'Fira Code';">1.2</span>画版公司：指参与画版平台运营并向画版平台用户提供服务的实际经营者以及其他画版关联业务的经营者，包括深圳画版文化有限公司、北京画版文化有限公司等。<br><br><span
            style="font-family:'Fira Code';">1.3</span>画版平台：指由画版公司实际运营管理的多种形式下的互联网平台统称，包括画版<span
            style="font-family:'Fira Code';">App</span>、画版公众号（名为<span style="font-family:'Fira Code';">“</span>画版<span
            style="font-family:'Fira Code';">”</span>、微信号为<span style="font-family:'Fira Code';">gh_7660e7f343c5</span>、账户主体为北京画版文化有限公司的腾讯微信公众号）、画版微信小程序、画版<span
            style="font-family:'Fira Code';">H5</span>移动网页、画版官方网站（<span style="font-family:'Fira Code';">http://www.ac.vip/</span>）等。<br><br><span
            style="font-family:'Fira Code';">1.4</span>普通用户：同意本协议并在画版平台中完成账户注册的、可以在画版平台中购买、转让、赠送艺术作品原作、艺术作品版权、艺术作品版权授权及享有其他相关用户服务的用户。<br><br><span
            style="font-family:'Fira Code';">1.5</span>特殊用户：指画版平台中的艺术家用户、代理商用户、合作厂商用户、推广服务商用户的<span
            style="font-family:'Fira Code';">“</span>合称<span style="font-family:'Fira Code';">”</span>，这些特殊用户不但在画版平台中享有普通用户全部基础功能，还可以在开设虚拟店铺销售艺术作品原件、艺术作品版权、衍生品，代理画版平台的推广以及商品销售、提供商品推广服务等。本协议所指特殊用户，是上述<span
            style="font-family:'Fira Code';">“</span>普通用户<span
            style="font-family:'Fira Code';">”</span>的对称。<br><br><span style="font-family:'Fira Code';">1.6</span>艺术家用户：特殊用户的一种，指经过画版公司审核认可开通艺术家账户功能，同意将其创作的艺术作品的版权独占许可给画版公司使用，并在画版平台中开设虚拟店铺销售相应艺术作品原作、转让艺术作品版权并取得收益的自然人。<br><br><span
            style="font-family:'Fira Code';">1.7</span>合作厂商用户：特殊用户的一种，指经过画版公司审核认可、开通合作厂商账户功能，在画版平台中开设虚拟店铺进行艺术作品衍生品销售，并取得收益的自然人或企业法人。<br><br><span
            style="font-family:'Fira Code';">1.8</span>代理商用户：特殊用户的一种，是指自有画版公司认可的营销推广渠道，代为推广艺术作品原作的销售、艺术作品版权的转让、艺术作品版权授权、衍生品的销售的个人或商户。<br><br><span
            style="font-family:'Fira Code';">1.9</span>推广服务商用户：特殊用户的一种，是指得到画版公司认可，可以在画版平台向其他用户有偿提供撰文、配图、配乐、摄影摄像、视频剪接等商品推广素材服务的用户。<br><br><span
            style="font-family:'Fira Code';">1.10</span>艺术作品版权授权：指画版公司通过画版平台将其享有版权或版权所有人合法授权的艺术作品许可给用户按照约定的条件进行使用。<br><br><span
            style="font-family:'Fira Code';">1.11</span>衍生品：指将艺术作品以任何形式、使用任何媒介，部分或全部地复制到一定的载体上而形成的实物产品。<br><br>二、协议范围及补充与变更<br><br><span
            style="font-family:'Fira Code';">2.1</span>协议的范围<br><br><span style="font-family:'Fira Code';">2.1.1</span>本协议是画版公司制定的关于画版用户账户注册和使用的用户服务协议，适用于各类用户。<br><br><span
            style="font-family:'Fira Code';">2.1.2</span>本协议由您与画版公司共同缔结，对您与画版公司均具有合同效力。您应当理解，画版公司主体可能根据画版平台业务调整而发生变更（包括经营者变更与新增），变更后的画版公司主体与您共同履行本协议并向您提供服务，画版公司主体的变更不会影响您本协议项下的权益。如您继续使用主体发生变更后的画版平台服务（包括经调整的画版平台服务以及新增服务），视为您同意变更后的画版公司主体与您共同履行本协议。<br><br><span
            style="font-family:'Fira Code';">2.2</span>协议的补充与变更<br><br><span
            style="font-family:'Fira Code';">2.2.1</span>由于互联网、手机应用程序、版权法律规定与市场应用高速发展，您与画板公司签署的本协议列明的条款并不能完整罗列、覆盖您与画板公司之间的所有权利与义务，现有的约定也不能保证完全符合未来业务发展需求。因此，画版平台上所示的法律声明、版权声明、隐私权政策、各项服务的单独条款<span
            style="font-family:'Fira Code';">/</span>规则以及未来不时制定的服务规则均为本协议的补充协议，与本协议不可分割且具有同等法律效力，共同构成画版平台全部用户服务条款，您需同时遵守该等约定。画版公司将合理地、尽可能提前在适当的区域进行公布，如您继续使用画版平台服务，视为您同意前述补充协议。<br><br><span
            style="font-family:'Fira Code';">2.2.2</span>画版公司可根据国家法律法规变化、版权及复制品、衍生品市场应用、保护消费者权益需要，不时修改本协议及补充协议，变更后的协议、补充协议（以下统称<span
            style="font-family:'Fira Code';">“</span>变更内容<span style="font-family:'Fira Code';">”</span>）将通过法定程序以及本协议第七条约定方式通知您。<br><br><span
            style="font-family:'Fira Code';">2.2.3</span>如您不同意变更内容的，您有权在变更内容生效日前联系画版公司反馈意见，如反馈意见得以采纳，画版公司将酌情考虑是否调整面向全球用户适用的服务条款，并妥当处理与您之间的争议（或潜在争议<span
            style="font-family:'Fira Code';">/</span>纠纷）。<br><br><span style="font-family:'Fira Code';">2.2.4</span>如您不同意已生效的变更内容，您应当于变更内容生效之日起停止使用画版平台服务，并以书面形式通知画版公司，画版公司或将视乎画版平台可操作性、服务可行性、参考您本人意见考虑注销您本人的画版平台账户；如您在变更内容生效后仍继续使用画版平台相关服务或未以书面形式通知画版公司停用服务的，则视为您同意已生效的变更内容。<br><br>三、账户注册、使用与注销<br><br><span
            style="font-family:'Fira Code';">3.1</span>账户的注册<br><br><span style="font-family:'Fira Code';">3.3.1</span>在您申请注册画版平台账户前，您应当具备中华人民共和国法律规定的与您行为相适应的民事行为能力。若您不具备前述与您行为相适应的民事行为能力，则您及与您的监护人应依照法律规定承担相应的法律责任。<br><br><span
            style="font-family:'Fira Code';">3.3.2</span>在画版账户登录页面中，您需要根据页面指示填写您的手机号码获取验证码登录，首次登录即视为完成本账户的注册，画版公司将给予您一个账户及密码，请您妥善保管。你也可以授权使用您已合法拥有的微信账户登陆画版平台。您应当知悉，无论您采取哪种方式登录画版平台，您对该账户实施的所有活动和发生的事件负法律责任。<br><br><span
            style="font-family:'Fira Code';">3.3.3</span>在画版平台相应账户界面中，您可以完善头像、昵称、身份资料并完成实名认证，但是否完善该等资料<span
            style="font-family:'Fira Code';">/</span>实名认证均不会影响您继续持有本账户。随业务发展、维护交易秩序以及保护用户资产需要，画版公司可能推出只面向完善身份资料及<span
            style="font-family:'Fira Code';">/</span>或完成实名认证用户的部分服务，对此，您有权选择完善身份资料及<span
            style="font-family:'Fira Code';">/</span>或通过实名认证或不享受该等服务。<br><br><span style="font-family:'Fira Code';">3.3.4</span>您应当知悉，如您选择完善身份资料及<span
            style="font-family:'Fira Code';">/</span>或完成实名认证的，您应当如实填写您的个人信息（企业用户的，填写相应的法人主体信息）。为保障您的合法权益，您同意画版公司在必要时根据您所填写信息前往公安部门、工商部门、电信运营部门、金融服务机构核实您身份真实性，您应当对您所填写的信息负法律责任。<br><br><span
            style="font-family:'Fira Code';">3.2</span>账户的使用<br><br><span style="font-family:'Fira Code';">3.2.1</span>画版平台只允许每位用户使用一个画版账户，如有证据显示或画版公司根据相关用户服务条款判断您存在不当注册或不当使用多个画版账户的情形，画版公司可采取强制合并、账户冻结<span
            style="font-family:'Fira Code';">/</span>关闭、注销账户、取消订单、拒绝提供服务等措施，如给画版公司及相关方造成损失的，您还应当承担赔偿损失的责任。<br><br><span
            style="font-family:'Fira Code';">3.2.2</span>由于您的画版账户将关联您的个人信息，您的画版账户仅限您本人使用。未经画版公司同意，您不得通过授权、许可、出借、出租、转让的方式允许第三方使用您的画版账户。如画版依公司据相关用户服务条款认定您画版账户的使用可能危及您及<span
            style="font-family:'Fira Code';">/</span>或画版公司、第三方合法权益的，画版公司有权采取冻结、关闭、注销账户、取消订单、拒绝提供服务、终止本协议等救济措施。<br><br><span
            style="font-family:'Fira Code';">3.2.3</span>由于画版<span style="font-family:'Fira Code';">App</span>等平台采取手机号码验证码登录的便利方式，您应当知悉，如您手机收到来自画版平台及<span
            style="font-family:'Fira Code';">/</span>或任何带有<span style="font-family:'Fira Code';">“</span>画版<span
            style="font-family:'Fira Code';">”</span>标识的验证码信息但又并非您本人操作的，您切勿向任何第三方转发该验证码信息，否则因此导致的全部损失均由您本人承担。同时，您应就该等来历不明验证码信息及时联系画版平台客服人员。<br><br><span
            style="font-family:'Fira Code';">3.2.4</span>由于画版账户关联您的个人信息，当且仅当有法律明文规定或经画版公司同意并符合画版公司根据相关用户服务条款制定的账户转让流程情况下，您方可进行账户的转让。根据前述规定转让账户的，本协议项下的权利义务关系一并转让。除此以外，您不得以任何方式转让账户，否则画版公司有权追究您的违约责任并由您本人承担一切因此发生的法律责任、损失。<br><br><span
            style="font-family:'Fira Code';">3.2.5</span>您充分理解，为使您更好地享受画版平台服务以及保障您的账户安全，画版公司可要求您按照我国法律规定完成账户的实名认证，如您不同意的，您需要立即停止使用画版平台服务。<br><br><span
            style="font-family:'Fira Code';">3.2.6</span>您同意并接受，对于累计<span style="font-family:'Fira Code';">12</span>个月未登录画版平台且账户页面显示资产为人民币<span
            style="font-family:'Fira Code';">0</span>元的，画版公司有权收回您的账户，该账户相应的所有画版平台服务同时终止。<br><br><span
            style="font-family:'Fira Code';">3.2.7</span>在账户使用过程中，如您的个人信息、身份信息发生改变的，您有义务及时更新您的个人信息。否则因此导致的一切不利后果将由您个人承担，画版公司在发现您的账户信息不实时将向您询问并要求您做出整改<span
            style="font-family:'Fira Code';">/</span>重新认证，在您完成整改<span style="font-family:'Fira Code';">/</span>重新认证前，画版公司将不对因此所发生的任何损害承担责任。<br><br><span
            style="font-family:'Fira Code';">3.2.8</span>任何情况下，画版公司将不会向您索取账户的密码、手机号码验证码信息，请您在每次使用画版平台结束后及时退出账户。因账户泄露或遭受软件攻击、诈骗所导致的损失与后果，画版公司将不承担任何责任。<br><br><span
            style="font-family:'Fira Code';">3.3</span>账户的注销<br><br>您有权联系画版公司客服请求注销您所持有的画版账户，但在此之前，你应当停止使用画版平台服务并结清相应费用（如有）。您充分知悉，当账户注销后，您可能无法继续享受基于该账户已购买相关画作的版权。<br><br>四、服务内容及管理<br><br><span
            style="font-family:'Fira Code';">4.1</span>服务内容<br><br><span style="font-family:'Fira Code';">4.1.1</span>画版公司提供的服务包括作品的鉴赏、艺术作品原作与版权、版权授权的销售、购买、转让、赠与、衍生品的销售、艺术活动资讯分享等。画版公司提供的服务内容较多，并将随着业务发展逐渐增多，欢迎您登陆画版平台浏览。<br><br><span
            style="font-family:'Fira Code';">4.1.2</span>画版公司根据艺术家用户的授权，在画版平台中展示相应作品，无论您为何种用户身份，您均可以在相关页面进行作品鉴赏，但不得采取任何侵犯画版公司以及相关艺术家用户合法权权益的行为，包括但不限于截图或保存低清晰度图片以任何方式使用、通过木马、病毒等非法程序盗取展示于画版平台上相关作品电子数据、针对相关作品进行临摹或二次创作等；<br><br><span
            style="font-family:'Fira Code';">4.1.3</span>您可以根据画版平台所展示相关商品的价格购买艺术作品原作、版权及版权授权、衍生品。您还可以在授权范围内使用该等艺术作品版权，制作成衍生品。但您需要根据有关授权条款将版权使用及移转情况登记于画版平台中，并按照画版平台有关规定交纳费用。<br><br><span
            style="font-family:'Fira Code';">4.1.4</span>您可以将该等艺术作品原作、版权、版权授权转让、赠予给第三方，但需要符合画版公司的有关规定。<br><br><span
            style="font-family:'Fira Code';">4.1.5</span>根据画版相关合作厂商的设定，您所持有的艺术作品版权授权可能具有优惠券功能，在您购买时可选择是否使用优惠券进行交易，当相应产品发生退货、退换时不退该优惠券差价。<br><br><span
            style="font-family:'Fira Code';">4.1.6</span>您可以获取画版平台上发布的艺术品鉴赏、交流活动资讯，与画版公司、艺术家、鉴赏家及其他用户进行交流。<br><br><span
            style="font-family:'Fira Code';">4.1.7</span>您可以委托画版合作厂商为您制作衍生品，您还可以享受画版公司不时发布的组合销售套餐优惠、艺术活动资讯服务，但您应当遵守有关用户服务条款以及相关已签署的协议约定。　<br><br><span
            style="font-family:'Fira Code';">4.1.8</span>当您按照画版公司相关规定、程序登记成为特殊用户（包括艺术家用户、代理商用户、合作厂商用户、推广服务商用户）后，除了上述普通用户可享受的服务外，您还可以按照该特殊用户的权限范围在画版平台从事其他活动，包括但不限于开设店铺销售艺术作品原件、转让艺术作品版权、销售衍生品、代理他人艺术作品原作、版权、版权授权的销售或销售艺术作品衍生品等。<br><br><span
            style="font-family:'Fira Code';">4.2</span>管理<br><br><span style="font-family:'Fira Code';">4.2.1</span>您在画版平台上发布的信息以及在画版平台使用过程中不得出现以下情形：<br>（<span
            style="font-family:'Fira Code';">1</span>）违反国家法律法规规定；<br>（<span style="font-family:'Fira Code';">2</span>）危害国家、公共安全、重大公共利益，损害国家荣誉和利益；<br>（<span
            style="font-family:'Fira Code';">3</span>）扰乱公共秩序、破坏社会稳定、违反公序良俗；<br>（<span
            style="font-family:'Fira Code';">4</span>）封建迷信、淫秽、色情、赌博、暴力、恐怖或者教唆犯罪；<br>（<span
            style="font-family:'Fira Code';">5</span>）通过各种渠道盗取、窃取其他画版用户信息；<br>（<span
            style="font-family:'Fira Code';">6</span>）散布病毒、垃圾广告、诈骗信息；<br>（<span
            style="font-family:'Fira Code';">7</span>）欺诈、虚假、存在误导性；<br>（<span style="font-family:'Fira Code';">8</span>）侵犯画版公司及他人依法享有的知识产权等合法权益；<br>（<span
            style="font-family:'Fira Code';">9</span>）破坏、篡改、删除、影响画版平台的正常运行；<br>（<span style="font-family:'Fira Code';">10</span>）对画版平台进行反向工程、反向汇编、反向编译或者其他方式获取本软件源代码；<br>（<span
            style="font-family:'Fira Code';">11</span>）其他违背社会公共利益或公共道德或依据相关画版用户服务条款规定不适合在画版平台发布的。<br><br><span
            style="font-family:'Fira Code';">4.2.2</span>您在画版平台购买艺术作品版权、衍生品时，应当践行诚实信用原则，切实履行交易承诺与协议约定。<br><br><span
            style="font-family:'Fira Code';">4.2.3</span>您应按照法律法规规定纳税，画版公司也将按照法律法规协助税收征管部门开展相关税收征收工作。<br><br><span
            style="font-family:'Fira Code';">4.2.4</span>当您在画版平台上购买衍生品时，请您务必仔细阅读该商品信息，包括名称、型号、数量、单价、尺寸、服务、限制性要求等，并在确认购买时核实您的收货地址、电话、收货人名称等信息。画版公司建议您填写您本人真实姓名，如果您填写的收货人非您本人或收货人名称为外语名称或仅含有姓氏信息，您应当承担以此可能产生的一切法律风险与后果。<br><br><span
            style="font-family:'Fira Code';">4.2.5</span>画版公司将开发、完善交易评价系统，您应当按照法律法规规定如实发表交易评价信息，并对您所发表的一切信息承担法律责任。<br><br><span
            style="font-family:'Fira Code';">4.2.6</span>为维护画版平台良好的交易秩序，针对已经产生或者可能产生权益争议的艺术作品原作、衍生品、版权、版权授权销售信息，画版公司有权暂时下架。您应当充分理解，画版公司下架行为仅是防止损失扩大化，并非对任何画版用户<span
            style="font-family:'Fira Code';">/</span>权利人依法享有权利的否定，下架行为也不构成对任何一方的侵权。<br><br><span
            style="font-family:'Fira Code';">4.2.7</span>对于使用画版平台进行交易所产生的争议，画版公司将制定相应的交易争议处理规则，您可以采取与交易相对方协商、委托画版公司进行争议处理、向相关行政部门或消费者权益机构投诉、向人民法院起诉等方式解决。您签署本协议且在画版平台进行交易时，即同意接受画版公司制定的相应的争议处理规则，无论您是作为主动方还是被动一方进入画版争议交易处理程序，您有权对画版公司争议处理结果提出异议并采取其他途径解决争议。在相关交易争议进入人民法院、仲裁机构裁判程序后，您可以联系画版公司客服请求中止任何未结的交易争议处理程序。<br><br><span
            style="font-family:'Fira Code';">4.2.8</span>画版平台的开发工作产生了巨大成本，画版平台部分服务是收费服务，如您享受的相应服务为付费服务或未来画版公司变更该等付费模式，您有权选择是否继续享受该等服务，画版公司也将依照本协议第八条向您发出通知。<br><br>五、知识产权及法律声明<br><br><span
            style="font-family:'Fira Code';">5.1</span>知识产权<br><br><span style="font-family:'Fira Code';">5.1.1</span>画版公司对于画版平台上官方发布的信息中所包含的任何文本内容、图片、图形图案、页面模块、排版、色彩搭配、音频<span
            style="font-family:'Fira Code';">/</span>视频依据中华人民共和国相关法律法规法享有知识产权及相关权利、权益，任何主体不得实施侵犯画版公司前述合法权益的行为。<br><br><span
            style="font-family:'Fira Code';">5.1.2</span>您保证，您发布在画版平台上的信息，包括但不限于任何文本内容、图片、图形图案、音频<span
            style="font-family:'Fira Code';">/</span>视均系您原创，或者享有权利人的合法授权；您并授权画版公司及其关联公司对前述信息永久地复制、使用的权利。<br><br><span
            style="font-family:'Fira Code';">5.1.3</span>如您发现画版平台上任何艺术作品存在版权纠纷或争议，请及时联系画版平台客服人员，画版公司感谢您协助画实施调查行为，并将依照法律法规采取或协助权利人采取权利救济措施。<br><br><span
            style="font-family:'Fira Code';">5.2</span>法律声明<br><br><span style="font-family:'Fira Code';">5.2.1</span>画版平台服务主要是面对注册用户的，您不应为了非法目的而注册账户并使用画版平台服务，否则画版公司有权采取注销账户、停止服务以及依据相关授权协议解除协议等救济措施。<br><br><span
            style="font-family:'Fira Code';">5.2.2</span>您应当知悉，未实名认证的账户可能面临更大的风险，在画版平台发布实名认证公告或画版公司想您发出实名认证通知后仍未进行认证的，账户内发生资产丢失<span
            style="font-family:'Fira Code';">/</span>损失情形的，画版公司不承担任何法律责任。<br><br><span style="font-family:'Fira Code';">5.2.3</span>您应当知悉，针对其他用户上传至画版平台的艺术品，画版公司将建立尽量合理、完善的权属审查制度，尽量确保相应的艺术品不存在权属争议。但您应当理解，画版公司所做出的审查仅为形式审查，无法完全杜绝侵权情形，画版公司不承担无过错情况下的任何法律责任。<br><br><span
            style="font-family:'Fira Code';">5.2.4</span>您应当知悉，画版平台上发布的内容可能来源于其他第三方而具有风险和瑕疵，画版公司将建立相应监控制度尽可能保障画版平台上内容的精确性、正确性和可靠性，但由于互联网信息庞杂且核实难度大，画版公司可能无法逐一地、多渠道地进行核实，故画版公司不对内容的精确性、正确性和可靠性作出承诺和保证。您在选择服务及进行交易时需要警惕风险并谨慎选择，您不应以此要求画版公司做出赔偿或就赔偿承担连带责任。<br><br><span
            style="font-family:'Fira Code';">5.2.5</span>画版平台客服人员并非争议解决专业人士，对交易争议处理系基于交易各方提交材料、画版平台上相应记载的交易信息等情况以普通大众的认知进行判断，画版公司客观上也无法彻查交易各方一切沟通信息。除非重大故意或过失，画版公司不对客服人员所做出的争议处理行为本身承担赔偿责任。<br><br><span
            style="font-family:'Fira Code';">5.2.6</span>您应当知悉，画版<span style="font-family:'Fira Code';">App</span>等平台系主要基于智能手机应用程序开发的软件平台，而智能手机应用技术本身仍具有不成熟性，您在使用的过程中可能会因为互联网服务临时中断、延迟、银行快捷支付程序衔接等问题存在合法权益受损的风险，您应当警惕相应风险并谨慎操作。画版公司亦会尽其所能进行技术完善，但画版公司不对智能手机应用技术缺陷、瑕疵承担责任。<br><br><span
            style="font-family:'Fira Code';">5.2.7</span>画版平台上含有外部页面的链接（<span style="font-family:'Fira Code';">“</span>外链<span
            style="font-family:'Fira Code';">”</span>），您应当知悉，画版公司不对外链内容承担任何责任。如您发现外链内容可能存在侵害他人合法权益的情况，请及时通知画版公司。<br><br><span
            style="font-family:'Fira Code';">5.2.8</span>您应当知悉，其他画版用户在画版平台上发布的以及画版平台转载的信息均为其相应作者个人观点，不能以此认定或推定为画版公司观点，也不代表画版公司已对相应内容进行核实。如有发生侵权，画版不对此承担任何责任。但是，您应当及时告知画版公司，我们将尽快完成核查程序后视乎核查结果决定是否删除该等信息。<br><br><span
            style="font-family:'Fira Code';">5.2.9</span>画版公司将通过合理有效的技术措施对画版平台上享有知识产权及合法权益的内容进行保护。<br><br><span
            style="font-family:'Fira Code';">5.2.10</span>您应当知悉，如果您在使用画版平台服务时产生对于法律相关的疑惑或无法判断某些交易的合法性时，您有义务咨询相关专业人士意见。但在您未充分理解法律含义前作出相应具有法律效力的表示并因此遭受相应损失的，您应当自行承担该等后果且无权要求画版公司承担法律责任。<br><br><span
            style="font-family:'Fira Code';">5.2.11</span>您在此同意，画版公司有权定期或不定期的对画版平台及相关服务器设备进行检修或维护，如因此造成收费服务在合理时间内的中断，画版公司无需承担任何责任，但画版公司将尽可能进行通知。<br><br><span
            style="font-family:'Fira Code';">5.2.12</span>因不可抗力或画版公司不能控制的原因所导致画版平台服务的中断、程序不可用、缺陷，画版公司不承担任何法律责任，但画版公司将尽力减少对用户的影响。<br><br><span
            style="font-family:'Fira Code';">5.2.13</span>您充分理解，基于智能手机应用程序的发展，画版公司有权随时以服务战略调整为由单方终止本协议并关停一切画版平台服务，该等服务停止不影响您已依法获取的授权。<br><br><span
            style="font-family:'Fira Code';">5.2.14</span>您应当知悉，画版平台的运营模式、与各艺术家、合作厂商及相关方的合作事项以及画版公司与您任何口头、书面资料均视为保密信息，您应当对该等保密信息予以保密，在未得到画版公司书面同意前，不得直接、间接地向任何第三方披露或泄露任何保密信息。<br><br>六、用户的违约及处理<br><br><span
            style="font-family:'Fira Code';">6.1</span>用户的以下情形构成违约：<br>（<span style="font-family:'Fira Code';">1</span>）违反法律法规；<br>（<span
            style="font-family:'Fira Code';">2</span>）违反本协议及补充协议等一切画版平台用户服务条款。<br>在画版公司调查相关争议事实时，您有义务就相关事实向画版公司合理解释并举证证明。如您既不做出合理解释又不进行任何举证，也不采取任何有效止损行为（如需），画版公司将可能参考您该种消极应对态度认定您构成违约并采取相应救济措施。<br><br><span
            style="font-family:'Fira Code';">6.2</span>针对用户的每一项违约行为，画版公司均可采取如下救济措施：<br>（<span
            style="font-family:'Fira Code';">1</span>）责令纠正违约行为、采取补救措施；<br>（<span
            style="font-family:'Fira Code';">2</span>）在画版平台上公布违约用户及处理措施；<br>（<span
            style="font-family:'Fira Code';">3</span>）调整您所发布商品<span style="font-family:'Fira Code';">/</span>服务在相应搜索页面的排序；<br>（<span
            style="font-family:'Fira Code';">4</span>）删除<span style="font-family:'Fira Code';">/</span>屏蔽相关信息；<br>（<span
            style="font-family:'Fira Code';">5</span>）向您下架相关商品<span
            style="font-family:'Fira Code';">/</span>停止服务；<br>（<span style="font-family:'Fira Code';">6</span>）对违约账户进行监控，此时账户所有操作需事前获得画版公司审核；<br>（<span
            style="font-family:'Fira Code';">7</span>）冻结、划扣违约账户在画版平台内的资金；<br>（<span
            style="font-family:'Fira Code';">8</span>）暂停向违约账户提供的部分或全部画版平台服务；<br>（<span style="font-family:'Fira Code';">9</span>）解除本协议及相关协议并注销违约账户；<br>（<span
            style="font-family:'Fira Code';">10</span>）采取法律行动，要求用户停止违约行为并赔偿损失。<br><br>本协议所指赔偿损失，包含直接经济损失与间接损失，包括但不限于画版公司因此而支付的赔偿金<span
            style="font-family:'Fira Code';">/</span>补偿金、商誉损失、预期可得利益、差旅费、打印费、餐饮住宿费、通讯费、公证费、公告费、财产保全费、律师费、案件受理费、税费等。<br><br>七、通知<br><br><span
            style="font-family:'Fira Code';">7.1</span>您完成注册程序获取画版账户或授权使用微信账户登录画版平台后，为保障画版公司与您建立切实有效的通讯渠道，您应当完善并及时更新账户内可填写的通讯方式，包括但不限于收货地址、姓名、微信号、身份证地址、邮箱地址等。<br><br><span
            style="font-family:'Fira Code';">7.2</span>您的手机号码、授权使用登录的微信账户、画版平台内系统消息发送平台、您账户下记载的收货地址、姓名、身份证地址等通讯方式，均构成您的<span
            style="font-family:'Fira Code';">“</span>有效联系方式<span style="font-family:'Fira Code';">”</span>。<br><br><span
            style="font-family:'Fira Code';">7.3</span>画版公司将通过上述任何一种或多种有效联系方式向您发送相关信息，该等信息可能影响您继续享受的画版平台服务或相关权益，您应当及时关注、阅读。如有异议，应当及时与画版公司取得联系。<br><br><span
            style="font-family:'Fira Code';">7.4</span>画版公司根据上述一种或多种有效联系方式向您发出通知的，均视为有效送达。您实际收到该等通知之日为<span
            style="font-family:'Fira Code';">“</span>实际送达日<span style="font-family:'Fira Code';">”</span>，画版公司未能查明实际送达之日的，依据相应通讯技术、电子技术、物流行业可行性可显示相关通知已完成形式送达程序的，如邮件系统显示已发送、短信系统显示已发送成功、物流系统显示快递包裹已投递<span
            style="font-family:'Fira Code';">/</span>已代签<span
            style="font-family:'Fira Code';">/</span>已放置临时快递存储柜的，该日期为<span style="font-family:'Fira Code';">“</span>形式送达日<span
            style="font-family:'Fira Code';">”</span>。画版公司发出通知后既无法查明实际送达之日及形式送达之日的，在画版公司发出通知之日起至第七日，为<span
            style="font-family:'Fira Code';">“</span>推定送达日<span style="font-family:'Fira Code';">”</span>。有<span
            style="font-family:'Fira Code';">“</span>实际送达日<span
            style="font-family:'Fira Code';">”</span>的，以该日为通知送达之日。无<span style="font-family:'Fira Code';">“</span>实际送达之日<span
            style="font-family:'Fira Code';">”</span>的，以<span style="font-family:'Fira Code';">“</span>形式送达之日<span
            style="font-family:'Fira Code';">”</span>或<span style="font-family:'Fira Code';">“</span>推定送达之日<span
            style="font-family:'Fira Code';">”</span>为通知送达之日，两者同时存在的，以较先者为准。<br><br><span
            style="font-family:'Fira Code';">7.5</span>您同意司法机关、仲裁机关可按照您上述有效联系方式向您送法法律文书。<br><br><span
            style="font-family:'Fira Code';">7.6</span>画版公司的通讯地址为：　<br><br>地址：<br>北京画版<span
            style="font-family:'Fira Code';">-</span>北京市朝阳区工体北路三里屯<span
            style="font-family:'Fira Code';">soho</span>办公<span style="font-family:'Fira Code';">C</span>座<span
            style="font-family:'Fira Code';">1105<br></span>深圳画版<span style="font-family:'Fira Code';">-</span>深圳市光明新区光明街道观光路华强创意产业园<span
            style="font-family:'Fira Code';">3</span>栋<span style="font-family:'Fira Code';">B</span>座<span
            style="font-family:'Fira Code';">3</span>层<br>电话：<span
            style="font-family:'Fira Code';">400-0168163<br></span><span style="font-family:'Fira Code';"><br></span>八、协议的终止<br><br><span
            style="font-family:'Fira Code';">8.1</span>以下情形，您与画版公司之间的本协议终止：<br>（<span
            style="font-family:'Fira Code';">1</span>）您请求注销画版账户并已结清该账户使用期间所有交易费用、在账户使用期间不存在其他未结的纠纷、争议，画版公司依据相关用户服务条款核查完毕后完成账户注销程序之日；<br>（<span
            style="font-family:'Fira Code';">2</span>）本协议及相关协议依照第<span style="font-family:'Fira Code';">2.2</span>条发生变更的，您已联系画版公司明示不愿意接受并停止继续使用画版平台服务之日，且截至该日您账户不存在未结交易费用、不存在其他未结的侵权纠纷<span
            style="font-family:'Fira Code';">/</span>争议；<br>（<span style="font-family:'Fira Code';">3</span>）基于您违反本协议及相关协议，画版公司依照第七条通知解除的，自通知按照第七条完成送达之日；<br>（<span
            style="font-family:'Fira Code';">4</span>）由于战争、自然灾害、法律法规、规章、行政命令和其他不可抗力而使本协议无法继续履行的，经一方在<span
            style="font-family:'Fira Code';">10</span>个自然日内以本协议约定有效通知对方之日。<br><br><span
            style="font-family:'Fira Code';">8.2</span>协议终止的后果<br><br><span
            style="font-family:'Fira Code';">8.2.1</span>本协议终止，特殊用户协议一并终止；<br><br><span
            style="font-family:'Fira Code';">8.2.2</span>本协议终止后，除非法律明确规定且画版公司收到中华人民共和国有管辖权司法机关送达法律文书，画版公司将不再向您披露您账户中的任何信息；<br><br><span
            style="font-family:'Fira Code';">8.2.3</span>您在此同意，为了促使画版公司继续优化服务，在本协议终止后画版公司仍有权留存您账户使用期间的一切信息。<br><br><span
            style="font-family:'Fira Code';">8.2.4</span>本协议终止后，对于您过往存在的违约行为，画版公司将保留追究您违约责任的权利；<br><br><span
            style="font-family:'Fira Code';">8.2.5</span>本协议终止后，如您账户存在未结交易费用及<span
            style="font-family:'Fira Code';">/</span>或存在其他未结纠纷、争议，画版公司有权根据您账户相关个人信息继续向您进行追索及<span
            style="font-family:'Fira Code';">/</span>或配合其他相关利益方向您发出的追索行为。<br><br><span style="font-family:'Fira Code';">8.2.6</span>本协议终止后，如您在账户使用期间通过画版平台与其他第三方存在有效协议的，不影响该等协议效力，您应当如实继续履行该等协议。<br><br>九、法律适用与管辖<br><br><span
            style="font-family:'Fira Code';">9.1</span>本协议之签订与执行（包括生效、履行、解释、修订与补充、终止与争议解决）均适用中华人民共和国大陆地区法律；如法律无相关规定的，参照商业惯例及<span
            style="font-family:'Fira Code';">/</span>或行业惯例。<br><br><span style="font-family:'Fira Code';">9.2</span>本协议任一条款终止或被视同终止、无效或不可执行，该条款应当被视为本协议的可拆分条款，并不影响其余条款的有效性及可执行性。<br><br><span
            style="font-family:'Fira Code';">9.3</span>除非画版公司以书面形式做出表示，否则在任何情况下画版公司做出的任何行为都不应被理解为放弃权利的表示。<br><br><span
            style="font-family:'Fira Code';">9.4</span>凡因履行本协议所发生的争议，由您及画版公司友好协商解决，不能协商解决的，您或画版公司均应提交深圳国际仲裁委员会，按照提起仲裁时有效的仲裁程序和规则进行仲裁，仲裁裁决是终局的，对各方都有约束力。仲裁费用，包括律师费，由败诉方承担。<br><br>十、隐私权政策<br><br>隐私权政策是指以用户个人信息为中心，涉及个人信息的收集、使用、保护为主要内容的协议条款。本协议所指个人信息包括用户姓名、出生日期、手机号码、联系地址、电子邮箱、微信账户、个人头像、交易记录、登录<span
            style="font-family:'Fira Code';">IP</span>、画版<span style="font-family:'Fira Code';">App</span>可读取的用户手机储存信息例如通讯录信息、其他应用程序信息等内容。<br><br><span
            style="font-family:'Fira Code';">10.1</span>个人信息的使用<br><br><span
            style="font-family:'Fira Code';">10.1.1</span>为整合资源、优化画版公司服务质量，您在此同意我们收集、统计、研究、分析您的相关个人信息，例如您对各类艺术作品、衍生品、版权、版权授权的喜爱偏好、您对价格的敏感度、您对于各类促销套餐的评价、您对于艺术作品版权的使用用途分布等等。我们将根据您的个人信息定向为您推送相关服务信息、艺术活动资讯、相关类型艺术品知识百科等等。如果您不再同意我们按照前述目的使用您的个人信息，您有权停止使用一切画版平台服务并请求注销您的画版账户。<br><br><span
            style="font-family:'Fira Code';">10.1.2</span>您应该知悉，在您与第三方进行交易时，我们需要通过画版平台向您的交易相对方、物流公司共享您的个人信息，如您拒绝提供该等信息，该等交易将无法完成。<br><br><span
            style="font-family:'Fira Code';">10.1.3</span>画版公司或联同其他主体可能推出的新服务平台，该等服务平台可能与画版平台进行关联，您在该等新平台授权登录您的画版账户时，也即授权画版公司获取您在该等平台中的个人信息，画版公司将联合新的业务平台共同向您提供更优质的服务。<br><br><span
            style="font-family:'Fira Code';">10.1.4</span>为改进画版公司及关联公司、合作伙伴及其他画版公司信任的第三方供应商、服务商、代理商的产品和服务，您在此同意，我们可能会向其他第三方共享、授权使用您的个人信息。您有权在本协议有效期内随时要求画版公司停止前述您个人信息的使用，但您应当以书面形式通知画版并立即停止使用画版平台一切服务，并请求画版公司注销您的画版账户。在此之前，您还需要结清一切交易费用、了结一切账户使用期间的权益纠纷<span
            style="font-family:'Fira Code';">/</span>争议。<br><br><span style="font-family:'Fira Code';">10.1.5</span>除此以外，画版公司可能基于国家法律法规规定、国家司法机关及有关机关、紧急情况下为保障您或者其他第三方人身安全、重大利益情形下向其他方公开、披露您的个人信息。<br><br><span
            style="font-family:'Fira Code';">10.1.6</span>如画版公司停止运营画版平台，我们将及时停止对您个人信息的收集与使用，停止运营的信息也将通过本协议第七条规定通知您。<br><br><span
            style="font-family:'Fira Code';">10.2</span>信息的保护<br><br><span
            style="font-family:'Fira Code';">10.2.1</span>画版公司将采取合理可行的技术防护措施保护您的个人信息安全，同时，画版公司也将通过不断完善内部制度、人员管理、优化产品技术、采纳用户意见等方式建立全方位多体系的用户个人信息保障平台。<br><br><span
            style="font-family:'Fira Code';">10.2.2</span>未成年用户需要获得父母或监护人同意并愿意全部接受本协议及补充协议条款的前提下方可使用画版平台服务，否则，对于未成年用户个人信息使用问题所产生的一切法律后果均由其父母、监护人承担。<br><br><span
            style="font-family:'Fira Code';">10.2.3</span>画版公司建议您谨慎使用互联网其他智能手机应用程序，安装杀毒及安全防护软件并设置复杂度较高的登录密码（含定时修改密码）。在未达成交易意向前慎重向您的潜在交易方提供您的个人信息，如您发现您的个人信息发生泄漏，您可联系画版公司客服获取应对建议。<br><br><span
            style="font-family:'Fira Code';">10.3</span>信息的管理<br><br>您可以在画版平台相应用户页面中修改、完善、管理您的个人信息。在您确定不再接受任何画版公司服务时，您也可以请求画版公司客服注销、删除您的个人信息。</pre>
</div>


</body>
</html>