<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>品牌厂家直供平台</title>
</head>
<body>
<div style="padding:10px;">
    <p style="font-size:29px;text-align: center;font-family: 宋体;font-weight: bold;">&nbsp; &nbsp;<b>画版版主用户协议</b></p>

    <p>特别提醒：</p>
    <p>
        您在点击同意本协议之前，请您仔细阅读《画版平台用户服务协议及隐私权政策》及本合同的全部内容（特别是以下划线标注的内容）。如果您对本合同的条款有疑问的，请通过画版平台客服渠道进行询问，画版平台将向您解释条款内容。如果您不同意本合同的任意内容，或者无法准确理解画版平台对条款的解释，请不要同意本合同或使用本合同项下的服务，否则，表示您已接受了以下所述的条款和条件，同意受本合同约束。届时您不应以未阅读本合同的内容或者未获得画版平台对您问询的解答等理由，主张本合同无效，或要求撤销本合同。</p>
    <p>为充分维护您的合法权益，画版平台特别提醒您特别关注本合同条款中的黑体及/或加下划线部分，请您务必仔细阅读。</p>
    <p>一、定义条款</p>
    <p>您确认并同意本条款中对于各名词的解释及定义，并同意按照该定义履行相关义务。</p>
    <p>1.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>平台（以下统称为“平台”）：特指由画版现在或将来拥有合格权限运营/管理的，提供作品原作、作品版权销售等技术服务的网络服务平台，包括但不限于画版app、www.ac.vip、画版关联方、画版合作方运营/管理的网络服务平台，及未来可能新设或合作的网络平台等。
    </p>
    <p>2.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>作品版权：指版权方在平台提交的、由其合法享有完整的作品版权。</p>
    <p>3.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>版谷：特指版权方将其作品版权在平台认证登记并独家授权画版发行版权链，每个版权链中包含了限定数量数字版权，该数字版权以数据编码的形式特定于画版平台使用。
    </p>
    <p>4.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>授权：授权是非独占的、可撤销、可转让、不可分许可、范围为全球、时限为终身的。您不得自行将授权作品的版权再次授权给任何第三方，也不得自行进行任何形式的开发和使用。
    </p>
    <p>5.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>版权链：特指画版基于区块链思维下构建的涵盖版权在各个节点流转及使用环节提供可信认证信息的生态。</p>
    <p>6.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>物权链：特指画版基于区块链思维下构建的涵盖作品原作（物）的所有权在各个节点交易流转环节提供可信认证信息的生态。
    </p>
    <p>7.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>版权方：特指向合法享有作品完整版权且独家授权画版发行版权的链的个人、企业或机构。</p>
    <p>8.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>版主代理：特指利用其自有资源为版主开发用户及粉丝群体提供居间服务的个人或企业。</p>
    <p>9.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>版主居民（用户）：即在平台注册，并使用其本人注册的账户，通过版主世界界面展示的信息获取商品的个人。</p>
    <p>10.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>版主世界：指平台将商户在平台发布的商品，独立的通过平台版主用户的界面进行展示，用户通过版主世界购买平台商户发布的商品，并最终由商户提供相应商品的网络交易场所。
    </p>
    <p>11.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>版权授权许可费：您为获得作品版权的数字版权（即：版谷）授权许可使用权而向画版所支付之授权许可费，该价格以平台“内容”界面展示为准。
    </p>
    <p>11.1授权许可费计算：单个版谷授权许可费×所获得版谷数量。</p>
    <p>12.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>代收款项：版主世界中版主居民（用户）领取登记为版主名下版谷且通过该码进入版主世界选购商品并最终完成交易的，该交易毛利的30%作为版主佣金由平台代为收取。该款项扣除您需支付的授权许可费后，由平台支付给您。
    </p>
    <p>12.1代收款项计算标准为：佣金×所获得版谷数量。</p>
    <p>13.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>服务费：为了实现您进入平台开展作品版权授权活动之目的，画版为您提供本合同约定之服务收取的相关费用。</p>
    <p>14.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>服务费价格：用户通过平台获得版权授权时，授权许可费-相关合作方费用-您应获得的许可费之后为您应向画版支付的服务费数额。其它功能服务费计算标准以双方通过书面、邮件或后台中心确认的比例为准。
    </p>
    <p>二、服务内容</p>
    <p>为实现您进入平台开展经营活动、通过平台发布作品原作或版权转让以及版权授权业务，实现与用户进行交易之目的，画版为您提供授权许可计算机软件及软件技术服务、网络技术服务及其他相关服务，具体服务内容如下：</p>
    <p>1.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>版权链及物权链认证技术服务</p>
    <p>平台为您提供版权方管理后台等系统平台、软硬件设备，以实现您作品原作在线展示，为用户提供正版认证、物权认证登记、防伪溯源管理、汇总管理经营数据等经营行为，并实现代您收取作品原作或原作转让、版权授权对应的款项的技术服务。</p>
    <p>2.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>授权许可您使用画版所有或合法运营、管理的与合作内容相关的计算机软件，并提供软件技术服务。</p>
    <p>3.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>画版以自有技术、知识，为您解决其在平台经营过程中遇到的网络技术问题。例如，针对您使用“防伪溯源认证、物权登记系统”进行技术指导和专业培训。
    </p>
    <p>三、费用及支付方式</p>
    <p>1.版权授权：画版自代收款项中扣除您需向画版支付的版权授权许可费后将代收款项划入您在画版开立的平台账户，您可在平台账户实时提现至您指定银行账户。</p>
    <p>2.版权许可费扣除以单个版谷独立结算，如您的代收款项不足以支付版权授权许可费的，该代收款项将冻结于平台监管账户待单个版谷产生的佣金足以抵扣时，平台自动进行解除冻结并在扣除相关费用后将代收款项划入您的平台账户。</p>
    <p>在此您同意并确认，平台基于上述服务可于代收款项中直接扣除上述费用，您在平台发起提现后需向平台开具同等金额的税票，如您无法开具税票则您同意由平台进行代扣代缴，并将扣除税费后的代收款项支付至您指定银行账户。</p>
    <p>四、账户</p>
    <p>1. 您确认，在您开始入驻流程使用画版平台服务前，您已是合法设立并有效存续的独立法人、团体、其他组织，或者具备与您行为相适应的民事行为能力的个人。</p>
    <p>2.
        您确认，就您开通版主权限前您必须在平台选购版谷并向画版支付版权授权许可费，就版权授权许可费而言系统默认在版谷产生收益后收取，但您亦可选择在入驻前一次缴纳，如您选择一性缴纳的，需与画版签订《衍生品版权许可使用协议》并按照约定向画版支付版权授权许可费。</p>
    <p>3.
        在使用画版平台服务时，您应当按画版平台页面的提示准确完整地提供您的信息（包括您的名称/姓名及银行账号、电子邮件地址、联系电话、联系地址等），以便画版或其他用户与您联系。您了解并同意，您有义务保持您提供信息的真实性及有效性。</p>
    <p>4. 当您按照入驻申请页面提示填写信息、阅读并同意本协议、完成全部入驻程序且通过画版的形式审查（具体审查标准以画版平台公布的为准）。</p>
    <p>5. 您就本协议的签署和履行未侵害任何主体的合法权益。</p>
    <p>6. 您保证本协议签署时商誉良好，不存在任何负面的公开报道影响画版的利益。</p>
    <p>五、您的权利义务</p>
    <p>1. 您应遵守本合同之约定及平台公告发布的与您履行本合同项下义务相关的各项规则。</p>
    <p>您应保证您具有履行本合同所需的一切权利及能力；您因资质或提供的您信息而致本合同无法正常履行的，由此产生的一切结果由您负责，您还需赔偿平台因此遭受的损失。</p>
    <p>2. 您承诺向平台提交的证明材料合法、真实、准确详尽。否则您承诺独立承担因此导致的相应责任及后果，使画版免责；</p>
    <p>3. 您承诺通过版主后台发布、编辑、更新的商品信息（包括但不限于文字、图片等）真实准确，并且不侵犯任何人的合法权益</p>
    <p>4.无论本协议因任何原因终止，您承诺立即停止以任何方式使用画版相关的商标、标识、网站名称、网站内容等。</p>
    <p>5. 您同意并确认画版有权制定版权授权许可费用价格，并且有权适时调整该价格。</p>
    <p>6. 您同意并确认不得自行将所获得的版权授权再次授权给任何第三方，也不得自行进行任何形式的开发和使用，如需要使用须经画版同意且须在画版平台中进行开发和使用。</p>
    <p>7. 如您自开通版主权限获得版谷后一个自然年度内，您所持有的版谷部分或全部仍未发放至用户或仍未产生使用的，您可向画版申请并获得同意终止版主权限后，可将所有版谷退还至画版。</p>
    <p>7.1 已退还版谷将不在计收版权许可使用费；</p>
    <p>7.2 终止版主权限前已发放至用户的版谷，其产生的收益在扣除应支付版权许可使用后仍为您享有的收益，该收益权为终身。</p>
    <p>8.
        如在协议履行期限内，因您原因造成的方案、项目或合同中止（包括但不限于服务方案已下线或停止营业），您应及时通知画版。如因您怠于通知造成的一切纠纷和责任（包括但不限于用户投诉、行政机关处罚等）由您承担，若由此给平台造成经济损失，您应进行赔偿。</p>
    <p>六、画版的权利和义务</p>
    <p>1. 画版应向您提供本合同约定的技术服务及其他相关服务。</p>
    <p>2. 画版可通过适当的方式和渠道做相关宣传介绍，并进行相关推荐/推广。您对上述行为予以认可，并授权平台就您所提供且享有合法权利的信息进行使用。</p>
    <p>3.画版有权根据本合同的约定向您收取服务费，并且有权先从代收款项中直接扣除该等服务费。</p>
    <p>4. 画版有权对您拟在平台发布的内容、信息进行形式审核，必要时画版有权依据法律法规、政策规定及平台规则拒绝发布(如您发布涉嫌黄、赌、毒及其他违法或者违反公序良俗的信息)。</p>
    <p>5. 除展示信息内容或文字确有错误外，您不得要求画版修改已发布于平台上的您信息。</p>
    <p>6. 画版有权就您同意并确认画版有权制定版权授权许可费用价格，并且有权适时调整该价格。</p>
    <p>7. 如用户就您在版主世界所发布的商品向平台实际经营者投诉，画版经核实后，有权要求您配合解决该投诉，在该投诉未解决之前平台有权拒绝向您支付涉及投诉的代收款项，待投诉解决后再行支付。</p>
    <p>8. 画版有权升级、更新版主后台系统，防伪溯源认证系统、物权登记系统，如有变更，画版将通过前述系统以公告形式作出通知。</p>
    <p>七、管理</p>
    <p>1.
        画版有权制定关于规范版主世界信息发布、商品销售与售后服务、交易争议处理等相关的规则、办法、制度。您同意遵守画版不时制定、修改的《画版平台用户服务协议及隐私权政策》、本协议以及其他可能适用的规则、办法、制度。为便于理解，该等规范文件可能会以更灵活的方式呈现，例如在相应页面中以“店铺经营常见问题说明”、“温馨提示”等形式呈现，而不一定形成格式化、体系性的制度文件，您同意将予以密切关注并遵守。</p>
    <p>2. &nbsp;画版可能会根据整体资金结算情况的调整代收款项结算、账户资金的提现程序及周期，但会优先考虑您的合法权益，您应充分配合并予以谅解。</p>
    <p>3. &nbsp;画版将构建同类商品/服务的搜索、排序机制，但您应当充分理解，该等搜索、排序机制构成画版的商业秘密，任何商户不得通过任何手段尝试窃取、改变、破坏、公开该等搜索、排序机制。</p>
    <p>八、协议的变更及终止</p>
    <p>1. 画版可根据国家法律法规变化、业务发展情况或维护交易秩序之目的，不时修改本协议、补充协议，变更后的协议、补充协议（下称“变更事项”）将在画版平台公布或以本协议第九条约定的方式通知您后的7日后生效。</p>
    <p>如您不同意变更事项，您有权于变更事项确定的生效日前联系画版反馈意见。如反馈意见得以采纳，画版将酌情调整变更事项。</p>
    <p>如您对已生效的变更事项仍不同意的，您应当于变更事项确定的生效之日起停止使用画版平台服务，变更事项对您不产生效力；如您在变更事项生效后仍继续使用画版平台服务，则视为您同意已生效的变更事项。</p>
    <p>2 . 以下情形，本协议终止：</p>
    <p>2.1.合作期限届满后，如不存在顺延情形的，则本协议自动终止。</p>
    <p>2.2您有权通过以下任一方式终止本协议：</p>
    <p>（一）变更事项生效前您停止使用并明示不愿接受变更事项的；</p>
    <p>（二）您明示不愿继续使用画版平台服务，且符合画版终止条件的。</p>
    <p>2.4 出现以下情况时，画版可以本协议第九条的所列的方式通知您终止本协议：</p>
    <p>（一）您违反本协议及补充协议约定，画版依据违约条款终止本协议的；</p>
    <p>（二）因您多次违反画版平台规则相关规定且情节严重，画版依据画版平台规则对您的账户予以查封的；</p>
    <p>（三）画版提前十五（15）天通知您终止本协议。</p>
    <p>（四）其他应当终止服务的情况。</p>
    <p>3. &nbsp;本协议终止后，除法律有明确规定外，画版无义务向您或您指定的第三方披露您账户中的任何信息。</p>
    <p>4. 本协议终止后，画版仍享有下列权利：</p>
    <p>（一）继续保存您留存于画版平台的本协议第四条所列的各类信息；</p>
    <p>（二）对于您过往的违约行为，画版仍可依据本协议向您追究违约责任。</p>
    <p>5. 不论因何种原因导致本协议解除或提前终止，您有义务配合画版进行相关的交接工作。本协议终止后对于您在画版平台已发生但尚未履行完毕的作品相关交易，您仍应按照本协议的约定继续履行。</p>
    <p>九、通知</p>
    <p>1. 您在注册成为画版平台版主用户，并接受画版平台服务时，您应该向画版提供真实有效的联系方式（包括您的电子邮件地址、联系电话、联系地址等），对于联系方式发生变更的，您有义务及时更新有关信息，并保持可被联系的状态。</p>
    <p>您在申请入驻画版平台时使用的用于登陆画版平台接收站内信、系统消息账号也作为您的有效联系方式。</p>
    <p>画版将向您的上述联系方式的其中之一或其中若干向您送达各类通知，而此类通知的内容可能对您的权利义务产生重大的有利或不利影响，请您务必及时关注。</p>
    <p>2.
        画版通过上述联系方式向您发出通知，其中以电子的方式发出的书面通知，包括但不限于在画版平台公告，向您提供的联系电话发送手机短信，向您提供的电子邮件地址发送电子邮件，向您的账号发送信息、系统消息以及站内信信息，在发送成功后即视为送达；以纸质载体发出的书面通知，按照提供联系地址交邮后的第五个自然日即视为送达。</p>
    <p>十、违约责任</p>
    <p>1.
        除非本合同另有约定，如您违反诚信原则，或违反本合同的任一条款或平台上的任何规则，或您违反其在本合同的履行中做出的任何承诺和保证，或您提供的资质、证照等信息不属实，则画版及其关联方有权停止向您支付代收净额，并有权要求您在一定期限内纠正违约行为。如您在画版要求的期限内纠正违约行为后符合本合同约定的，画版应恢复向您支付代收净额；如您在画版要求的期限内拒绝纠正或纠正后仍不符合本合同约定的，画版有权单方解除本合同，并有权要求您按照自本合同生效之日起累计至您发生违约行为之日的代收款项总额的30%向其支付违约金。</p>
    <p>2.因画版未能按照合同约定履行义务包括未及时付款，且在您要求的期限内拒绝纠正或纠正后仍不符合本合同约定的，应承担因此给您造成的损失。</p>
    <p>十一、保密义务</p>
    <p>
        除另有约定外，本合同任何一方均应对其获得的对方之业务、经营、财务状况和其他保密资料予以严格保密，不得以任何形式向任何第三方披露。否则，因此给其他方造成任何损失的，违约方应承担因此给守约方造成的全部损失。保密义务在合同有效期间及终止后始终有效，不因本合同其他条款整体或部分无效、被撤销而失效。</p>
    <p>十二、合同终止和解除</p>
    <p>本合同期限届满或本合同约定的其他终止情形发生时，本合同终止。除合同另有约定外，合同履行过程中，一方经书面通知对方且经双方协商一致后，可解除本合同。本合同终止或解除后：</p>
    <p>1.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>画版有权删除平台上已发布的您信息，且有权拒绝提供相关信息；</p>
    <p>2.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>本合同终止前您已与用户达成的尚未履行完毕的订单，您应按照本合同、信息、及订单、平台规则等的约定继续履行相应义务；
    </p>
    <p>3.<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>您同意画版保存您资质信息、作品信息、交易记录等相关资料。</p>
    <p>十三、免责条款</p>
    <p>因战争、自然灾害、政府行为、互联网系统故障、互联网通讯提供商故障等不可抗力因素或第三方原因导致画版不能履行本合同项下义务，画版无须承担责任。</p>
    <p>十四、法律适用及争议解决条款</p>
    <p>1. 本协议的成立、有效性、解释、履行、签署、修订和终止以及争议的解决均应适用中华人民共和国法律。</p>
    <p>2. 因本合同引起的或与本合同有关的任何争议，双方应协商解决。协商不成的，任何一方均可将争议提交至有管辖权（画版）所在地法院。</p>
    <p>十五、附则</p>
    <p>1. 与本合同有关的全部通知，双方可选择采用书面、邮件或商家后台操作任一种方式变更及确认。</p>
    <p>2. 本合同正文不得涂改修订，如有未尽事宜，应另行签订书面补充合同。任何形式的口头协议均属无效。</p>
    <p>3. 本合同附件是本合同不可分割的组成部分，与本合同具有同等法律效力。</p>
    <p>4. 本合同由您确认后，于您的获得版谷之日起生效。</p>
    <p><br></p>
    <p><br></p>
</div>


</body>
</html>
