<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>品牌厂家直供平台</title>
</head>
<body>
<div style="padding:10px;">
    <p style="margin-top:6.0000pt;margin-bottom:6.0000pt;text-align:center;"><strong><span
            style="font-family:宋体;font-weight:bold;font-size:29px;">画版商户服务协议</span></strong></p>
    <p><br></p>
    <p style="margin-top:6.0000pt;margin-bottom:6.0000pt;text-indent:32.1500pt;"><strong><span
            style="font-family:仿宋;font-weight:bold;font-size:21px;">特别提醒：</span></strong></p>
    <p style="margin-top:6.0000pt;margin-bottom:6.0000pt;text-indent:32.1500pt;"><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:21px;">在接受本合同之前，请您仔细阅读《画版平台用户服务协议及隐私权政策》、《版主用户</span></strong><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:21px;">服务</span></strong><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:21px;">协议》及本合同的全部内容（特别是以下划线标注的内容）。如果您对本合同的条款有疑问的，请通过画版平台客服渠道进行询问，画版平台将向您解释条款内容。如果您不同意本合同的任意内容，或者无法准确理解画版平台对条款的解释，请不要同意本合同或使用本合同项下的服务，否则，表示您已接受了以下所述的条款和条件，同意受本合同约束。届时您不应以未阅读本合同的内容或者未获得画版平台对您问询的解答等理由，主张本合同无效，或要求撤销本合同。</span></strong>
    </p>
    <p style="margin-top:6.0000pt;margin-bottom:6.0000pt;text-indent:32.1500pt;"><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:21px;">为充分维护您的合法权益，画版平台特别提醒您特别关注本合同条款中的黑体及/或加下划线部分，请您务必仔细阅读。</span></strong>
    </p><h4 style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;margin-left:7.5000pt;"><strong><span
        style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">一、定义条款</span></strong></h4>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;margin-left:7.5000pt;text-indent:24.0000pt;">
        <span style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">您确认并同意本条款中对于各名词的解释及定义，并同意按照该定义履行相关义务。</span></p>
    <ul>
        <li><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;font-size:15.0000pt;color:rgb(0,0,0);">1.&nbsp;</span><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">平台（以下统称为“平台”）：特指由画版现在或将来拥有合格权限运营/管理的，提供商品销售等技术服务的网络服务平台，包括但不限于画版app、www.ac.vip、画版关联方、画版合作方运营/管理的网络服务平台，及未来可能新设或合作的网络平台等。</span>
        </li>
        <li><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;font-size:15.0000pt;color:rgb(0,0,0);">2.&nbsp;</span><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">用户：即在平台注册，并使用其本人注册的账户，通过平台展示的信息获取商品的个人。</span>
        </li>
    </ul>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;margin-left:30.0000pt;text-align:left;">
        <span style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">&nbsp;</span></p>
    <ul>
        <li><span style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:15.0000pt;color:rgb(0,0,0);">3.&nbsp;</span><strong><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">商户(商家/厂商/品牌商)：指用户经过画版审核并升级版主账户权限，在画版</span></strong><strong><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">平台</span></strong><strong><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">中开设虚拟店铺进行商品销售并取得收益的自然人或企业法人。</span></strong>
        </li>
        <li><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;font-size:15.0000pt;color:rgb(0,0,0);">4.&nbsp;</span><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">商品销售信息：您通过平台发布的，在平台页面上展示的您商品优惠信息（如商品描述、销售规则、店铺信息、）。该信息为您就前述商品向用户发出的要约，一旦用户通过平台确认同意购买您该商品，即视为您与用户达成了相应合同。</span>
        </li>
        <li><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;font-size:15.0000pt;color:rgb(0,0,0);">5.&nbsp;</span><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">商户后台：为完成合作内容，画版基于合同为您提供的管理系统，包括“商户后台”“防伪溯源认证系统”、“物权登记系统”等 。</span>
        </li>
        <li><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;font-size:15.0000pt;color:rgb(0,0,0);">6.&nbsp;</span><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">物权登记系统：指用户通过平台确认购买您发布的商品后，用户可通过平台登记系统将该商品的所有权登记至用户个人名下。</span>
        </li>
        <li><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;font-size:15.0000pt;color:rgb(0,0,0);">7.&nbsp;</span><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">版谷：特指将经版权所有人授权且包含授权作品数字版权及发行数量编码生成的特定于在画版平台使用的编码。</span>
        </li>
        <li><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;font-size:15.0000pt;color:rgb(0,0,0);">8.&nbsp;</span><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">版主：特指向画版购买版谷且拥有一定数量用户/粉丝群体的个人或企业</span>
        </li>
        <li><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;font-size:15.0000pt;color:rgb(0,0,0);">9.&nbsp;</span><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">版主世界：指平台将您在平台发布的商品，独立的通过平台版主用户的界面进行展示，用户通过版主世界购买您在平台发布的商品，并最终由您提供相应商品的网络交易场所。</span>
        </li>
        <li><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;font-size:15.0000pt;color:rgb(0,0,0);">10.&nbsp;</span><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">零售价：商品对外销售时单独销售价格。</span>
        </li>
        <li><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;font-size:15.0000pt;color:rgb(0,0,0);">11.&nbsp;</span><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">会员价：商品对外销售向平台会员专属展示的单独销售价格。</span>
        </li>
        <li><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;font-size:15.0000pt;color:rgb(0,0,0);">12.&nbsp;</span><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">促销价/活动价：指平台促销活动期间商品对外销售的单独销售价格。</span>
        </li>
        <li><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;font-size:15.0000pt;color:rgb(0,0,0);">13.&nbsp;</span><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">企业员工价：指企业集团用户的员工专属展示的销售价格。</span>
        </li>
    </ul>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;margin-left:12.0000pt;text-align:left;">
        <span style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">&nbsp;</span></p>
    <ul>
        <li><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;font-size:15.0000pt;color:rgb(0,0,0);">14.&nbsp;</span><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">平台红包：为了实现您进入平台开展经营活动、进行交易之目的，画版为了吸引及刺激平台用户发生购买行为而推出现金红包，该红包在用户付款时可直接用于抵扣交易金额。</span>
        </li>
        <li><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;font-size:15.0000pt;color:rgb(0,0,0);">15.&nbsp;</span><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">结算价：您与画版达成的单个商品的结算价格，该结算价商品上架时需明确结算价是否包含运费，结算价若不包含运费，则运费由用户自行承担。</span>
        </li>
        <li><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;font-size:15.0000pt;color:rgb(0,0,0);">16.&nbsp;</span><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">代收款项：平台代您收取的，用户通过平台向您支付</span><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">的已</span><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">实际消费的款项。该款项扣除您需支付的服务费后，由平台支付给您。</span>
        </li>
    </ul>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;margin-left:30.0000pt;text-align:left;">
        <span style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">16.1代收款项计算标准为：已实际消费的款项×订单数。</span></p>
    <ul>
        <li><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;font-size:15.0000pt;color:rgb(0,0,0);">17.&nbsp;</span><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">服务费：为了实现您进入平台开展经营活动、进行交易之目的，画版为您提供本合同约定之服务收取的相关费用。</span>
        </li>
        <li><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;font-size:15.0000pt;color:rgb(0,0,0);">18.&nbsp;</span><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">服务费价格：用户通过平台为购买您提供的商品时，实际支付的金额-您与画版达成的单个商品的结算价格，为您应向画版支付的服务费数额。其它功能服务费计算标准以双方通过书面、邮件或商家中心确认的比例为准。</span>
        </li>
    </ul>
    <h4 style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;margin-left:7.5000pt;"><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">二、服务内容</span></strong></h4>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;margin-left:7.5000pt;text-indent:24.0000pt;">
        <span style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">为实现您进入平台开展经营活动、通过平台发布商品信息、与用户进行交易之目的，画版为您提供授权许可计算机软件及软件技术服务、网络技术服务及其他相关服务，具体服务内容如下：</span>
    </p>
    <ul>
        <li><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;font-size:15.0000pt;color:rgb(0,0,0);">1.&nbsp;</span><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">商品销售技术服务</span></li>
    </ul>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;margin-left:30.0000pt;"><span
            style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">平台为您提供商家中心等系统平台、软硬件设备，以实现您商品在线展示，为用户提供防伪溯源认证、物权登记、汇总管理经营数据等经营行为，并实现代您收取商品对应的款项的技术服务。</span>
    </p>
    <p style="margin-top:6.0000pt;margin-right:15.0000pt;margin-bottom:6.0000pt;text-indent:15.0000pt;text-align:left;">
        <span style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">2. 授权许可您使用画版所有或合法运营、管理的与合作内容相关的计算机软件，并提供软件技术服务。</span>
    </p>
    <p style="margin-top:6.0000pt;margin-right:15.0000pt;margin-bottom:6.0000pt;text-indent:15.0000pt;text-align:left;">
        <span style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">3.画版以自有技术、知识，为您解决其在平台经营过程中遇到的网络技术问题。例如，针对您使用“防伪溯源认证、物权登记系统”进行技术指导和专业培训。</span>
    </p><h4 style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;"><span
        style="font-family:仿宋;color:rgb(0,0,0);font-weight:normal;font-size:20px;">三、</span><strong><span
        style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">服务费用及支付方式</span></strong></h4>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;margin-left:7.5000pt;text-indent:24.0000pt;">
        <strong><span style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">用户通过平台向您支付的实际消费金额实时进入您于平台资金监管账户，此时交易资金处于冻结状态，七天无理由退货期过后，用户确认收到商品的，该交易资金自行解除冻结。在此您同意并确认，平台基于上述服务可于代收款项中直接扣除上述服务费，扣除上述服务费后，您可在平台账户实时提现至您指定银行账户。</span></strong>
    </p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;margin-left:7.5000pt;text-indent:24.0000pt;">
        <strong><span style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">服务费发票后由您在商家后台向平台进行申请，平台核对服务费金额后于申请之日起七个工作日向您开具相应金额的发票。</span></strong>
    </p>
    <p style="margin-top:6.0000pt;margin-bottom:6.0000pt;text-indent:0.0000pt;"><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">四、商户账户的获得</span></strong></p>
    <p style="margin-top:6.0000pt;margin-bottom:6.0000pt;text-indent:30.0000pt;"><span
            style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">1. 您应当先行注册一个普通用户并升级版主权限，在具备版主权限功能后方可向画版申请开设店铺；除此之外您还可升级开通代理商权限、采购合伙人权限。</span>
    </p>
    <p style="margin-top:6.0000pt;margin-bottom:6.0000pt;"><span
            style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">2. 如果您以个人身份申请签约商户的，您需具备中华人民共和国法律规定的完全民事行为能力，如您欺骗、隐瞒事实真相或本协议签订后丧失了部分或全部民事行为能力，画版有权随时下架您的所有在售商品、关停您在画版平台中的店铺、注销您的商户用户权限或将您的账户调整为用户。</span>
    </p>
    <p style="margin-top:6.0000pt;margin-bottom:6.0000pt;"><span
            style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">3. 如果您以企业法人身份申请签约商户的，该法人应当依法领取了中华人民共和国企业法人营业执照（如您销售的商品、提供的服务因市场准入限制需获得相应政府审批的，您应当完成相应的政府审批程序，取得相关资质与证照），拟申请销售的商品/服务应当属于该企业法人经营范围内。</span>
    </p>
    <p style="margin-top:6.0000pt;margin-bottom:6.0000pt;"><span
            style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">4. 无论以自然人领取个体户执照还是企业法人营业执照，画版签约商户用户，在发生工商登记事项变更时，您应当在变更之日起七个工作日内更新您的账户信息。</span>
    </p>
    <p style="margin-top:6.0000pt;margin-bottom:6.0000pt;"><span
            style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">5. 您必须在限期内完成实名认证/店铺认证，否则画版有权关闭该账户下的虚拟店铺并注销相应的商户用户权限。</span>
    </p>
    <p style="margin-top:6.0000pt;margin-bottom:6.0000pt;"><span
            style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">6. 您应按照画版相关规定足额支付保证金，作为您遵守本协议的保证。该费用在您注销合作厂商账户时予以退还。如您违反本协议约定给画版普通用户或画版造成损失，画版有权从您保证金中直接扣减，并要求您将保证金</span><span
            style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">补足</span><span
            style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">。否则，画版有权在未来需向您发放的分成中先行扣减应补足的保证金。</span></p><h4
        style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;"><strong><span
        style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">五、您的权利义务</span></strong></h4>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.0000pt;text-align:left;">
        <span style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">1. 您应遵守本合同之约定及平台公告发布的与您履行本合同项下义务相关的各项规则。</span>
    </p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.1000pt;text-align:left;">
        <strong><span style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">您应保证您具有履行本合同所需的一切权利及能力；您因资质或提供的您信息而致本合同无法正常履行的，由此产生的一切结果由您负责，您还需赔偿平台因此遭受的损失。</span></strong>
    </p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.1000pt;text-align:left;">
        <strong><span style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">2. 您承诺向平台提交的证明材料合法、真实、准确详尽。否则您承诺独立承担因此导致的相应责任及后果，使画版免责；</span></strong>
    </p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.1000pt;text-align:left;">
        <strong><span style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">3. 您承诺通过商户后台发布、编辑、更新的商户信息（包括但不限于文字、图片等）真实准确，并且不侵犯任何人的合法权益</span></strong>
    </p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.1000pt;text-align:left;">
        <strong><span style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">4. 您向用户提供商品时，应确保与您信息一致，您应按照本合同约定、信息描述、订单及平台相关规则接受用户的预约和消费。因您原因造成的用户投诉、经济损失等相关后果均由您承担。</span></strong>
    </p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.1000pt;text-align:left;">
        <strong><span style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">5. 您应合法经营，且提供的商品应符合国家法律、法规、规章的规定。如因您行为或您提供的商品造成用户损失的，由您承担相应的赔偿责任。如平台方基于前述情况向消费者先行赔付的，画版有权进行追偿。</span></strong>
    </p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.1000pt;text-align:left;">
        <strong><span style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">&nbsp;</span></strong>
    </p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.1000pt;text-align:left;">
        <strong><span style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">6. 您应按照用户实际支付金额为用户开具相应金额的发票。</span></strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">&nbsp;</span></p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.1000pt;text-align:left;">
        <strong><span style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">7. 您承诺并保证您对使用的商品、商标、品牌、图片等享有合法权利或合法授权，不会侵犯他人的知识产权、企业名称权等权益；且您承诺平台不会因展示您上述信息而遭受来自第三方的任何投诉、抗辩及争议，否则相应责任均由您承担。</span></strong>
    </p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.1000pt;text-align:left;">
        <strong><span style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">8. 无论本协议因任何原因终止，您承诺立即停止以任何方式使用画版相关的商标、标识、网站名称、网站内容等。</span></strong>
    </p>
    <ul>
        <li><span style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:15.0000pt;color:rgb(0,0,0);">9.&nbsp;</span><strong><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">您应按照合同约定、页面信息及平台方规则向用户提供商品，否则由此引起用户投诉或给用户/平台方造成损失的，相应责任均由您承担，且画版有权解除合同并要求您按本合同约定支付违约金。</span></strong>
        </li>
        <li><span style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:15.0000pt;color:rgb(0,0,0);">10.&nbsp;</span><strong><u><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">您同意并确认画版有权制定平台商品的零售价/会员价/（促销价/活动价）/企业员工价，并且有权适时调整商品销售价格。</span></u></strong>
        </li>
    </ul>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.1000pt;text-align:left;">
        <strong><span style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">11.&nbsp;</span></strong><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">您不得通过任何手段、以任何方式自行或者委托他人进行如下行为（包括但不限于虚拟交易、虚拟验证、自买自卖、伪造网络用户真实消费、体验、等违反平台规则、损害平台利益的行为，或伪造、仿冒等其他违反国家法律法规的行为，或其它违反公平竞争诚实信用原则与商业道德的行为），否则，画版有权解除合同，在代收净额中扣除上述行为给平台造成的损失，并要求您按照本合同约定支付违约金。</span></strong>
    </p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.1000pt;text-align:left;">
        <strong><span style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">12.&nbsp;</span></strong><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">如在合同履行期限内，因您原因造成的方案、项目或合同中止（包括但不限于服务方案已下线或停止营业），您应及时通知画版。如因您怠于通知造成的一切纠纷和责任（包括但不限于用户投诉、行政机关处罚等）由您承担，若由此给平台造成经济损失，您应进行赔偿。</span></strong>
    </p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.1000pt;text-align:left;">
        <strong><span style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">&nbsp;</span></strong>
    </p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.1000pt;text-align:left;">
        <strong><span style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">13.&nbsp;</span></strong><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">您保证双方合作项目在其它平台销售的销售价不得低于本合同涉及结算价，否则画版有权解除合同。</span></strong>
    </p><h4 style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;margin-left:7.5000pt;"><strong><span
        style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">六、画版的权利和义务</span></strong></h4>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.0000pt;text-align:left;">
        <span style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">1. 画版应向您提供本合同约定的技术服务及其他相关服务。</span></p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.1000pt;text-align:left;">
        <strong><span
                style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">2.&nbsp;</span></strong><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">为更好的推荐您的商品，以提升您的知名度/订单量，画版可通过适当的方式和渠道做相关宣传介绍，并进行相关推荐/推广。您对上述行为予以认可，并授权平台就您及其相关店铺的名称、LOGO、图片、文字、会员优惠等信息进行使用。</span></strong>
    </p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.1000pt;text-align:left;">
        <strong><span
                style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">3.</span></strong><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">画版有权根据本合同的约定向您收取服务费，并且有权先从代收净额中直接扣除该等服务费。</span></strong>
    </p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.1000pt;text-align:left;">
        <strong><span
                style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">4.&nbsp;</span></strong><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">画版有权对您拟在平台发布的内容、信息进行形式审核，必要时画版有权依据法律法规、政策规定及平台规则拒绝发布(如商家拟发布涉嫌黄、赌、毒及其他违法或者违反公序良俗的信息)。</span></strong>
    </p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.1000pt;text-align:left;">
        <strong><span
                style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">5.&nbsp;</span></strong><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">除展示信息内容或文字确有错误外，您不得要求画版修改已发布于平台上的您信息。</span></strong>
    </p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.1000pt;text-align:left;">
        <strong><span
                style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">6.&nbsp;</span></strong><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">画版有权在确保双方约定结算价不变的前提下，</span></strong><strong><u><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;text-decoration:underline;font-size:20px;">制定平台商品的零售价/会员价/（促销价/活动价）/企业员工价，并且有权适时调整商品销售价格</span></u></strong><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">。</span></strong></p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.1000pt;text-align:left;">
        <strong><span
                style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">7.&nbsp;</span></strong><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">如用户就您商品向平台实际经营者投诉，画版经核实后，有权要求您配合解决该投诉，在该投诉未解决之前平台有权拒绝向您支付涉及投诉的代收款项，待投诉解决后再行支付。</span></strong>
    </p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.1000pt;text-align:left;">
        <strong><span
                style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">8.&nbsp;</span></strong><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">画版有权升级、更新商家中心系统，防伪溯源认证系统、物权登记系统，如有变更，画版将通过前述系统以公告形式作出通知。</span></strong>
    </p>
    <p style="margin-top:6.0000pt;margin-bottom:6.0000pt;text-indent:0.0000pt;"><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">七、</span></strong><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">管理</span></strong></p>
    <p style="margin-top:6.0000pt;margin-bottom:6.0000pt;text-indent:30.0000pt;"><span
            style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">1. 画版有权制定关于规范店铺经营、产品销售与售后服务、交易争议处理等相关的规则、办法、制度。您同意遵守画版不时制定、修改的《画版</span><span
            style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">平台</span><span
            style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">用户服务协议及隐私权政策》、本协议以及其他可能适用的规则、办法、制度。为便于理解，该等规范文件可能会以更灵活的方式呈现，例如在相应页面中以“店铺经营常见问题说明”、“温馨提示”等形式呈现，而不一定形成格式化、体系性的制度文件，您同意将予以密切关注并遵守。</span>
    </p>
    <p style="margin-top:6.0000pt;margin-bottom:6.0000pt;"><span
            style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">2. &nbsp;画版可能会根据整体资金结算情况的调整销售款项结算、账户资金的提现程序及周期，但会优先考虑您的合法权益，您应充分配合并予以谅解。</span>
    </p>
    <p style="margin-top:6.0000pt;margin-bottom:6.0000pt;text-indent:30.0000pt;"><span
            style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">3. 画版将构建同类商品/服务的搜索、排序机制，但您应当充分理解，该等搜索、排序机制构成画版的商业秘密，任何商户不得通过任何手段尝试窃取、改变、破坏、公开该等搜索、排序机制。</span>
    </p>
    <p style="margin-top:6.0000pt;margin-bottom:6.0000pt;"><span
            style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">4. 签约商户应当本协议有效期内持续满足生产、销售及其他自有品牌产品所具备的资质、证照，如在有效期内部分丧失或全部丧失相应资质、证照的，或者因产品质量、安全、卫生问题遭受行政处罚的，画版有权视严重程度采取下架相关商品、关停相应店铺、以及注销账户等措施。</span>
    </p>
    <p style="margin-top:6.0000pt;margin-bottom:6.0000pt;"><span
            style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">5. 针对累计【365】日内店铺在售商品、服务数量为零的，构成“非活跃店铺”。画版有权单方关停“非活跃店铺”、取消签约合作厂商资格、注销签约合作厂商账户以及解除本协议。</span>
    </p>
    <p style="margin-top:6.0000pt;margin-bottom:6.0000pt;"><span
            style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">6. 商户用户账户以及店铺的转让，需得到画版的审批同意并完成画版规定的相应程序。</span></p>
    <p style="margin-top:6.0000pt;margin-bottom:6.0000pt;"><span
            style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">7. 画版将可能推出商品/服务的评价机制、店铺评级机制（人气数、收藏数、累计好评数、信用等级等），任何签约合作厂商不得利用作弊程序、寻找漏洞、虚假交易等一切不正当手段伪造、篡改自身的评价数据、评级数据。</span>
    </p><h4 style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;margin-left:7.5000pt;"><strong><span
        style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">八、违约责任</span></strong></h4>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.1000pt;text-align:left;">
        <strong><span
                style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">1.&nbsp;</span></strong><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">除非本合同另有约定，如您违反诚信原则，或违反本合同的任一条款或平台上的任何规则，或您违反其在本合同的履行中做出的任何承诺和保证，或您提供的资质、证照等信息不属实，则画版及其关联方有权停止向您支付代收净额，并有权要求您在一定期限内纠正违约行为。如您在画版要求的期限内纠正违约行为后符合本合同约定的，画版应恢复向您支付代收净额；如您在画版要求的期限内拒绝纠正或纠正后仍不符合本合同约定的，画版有权单方解除本合同，并有权要求您按照自本合同生效之日起累计至您发生违约行为之日的代收款项总额的30%向其支付违约金。</span></strong>
    </p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.0000pt;text-align:left;">
        <span style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">2.因画版未能按照合同约定履行义务包括未及时付款，且在您要求的期限内拒绝纠正或纠正后仍不符合本合同约定的，应承担因此给您造成的损失。</span>
    </p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-align:left;"><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">九、</span></strong><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">保密义务</span></strong></p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.0000pt;"><span
            style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">除另有约定外，本合同任何一方均应对其获得的对方之业务、经营、财务状况和其他保密资料予以严格保密，不得以任何形式向任何第三方披露。否则，因此给其他方造成任何损失的，违约方应承担因此给守约方造成的全部损失。保密义务在合同有效期间及终止后始终有效，不因本合同其他条款整体或部分无效、被撤销而失效。</span>
    </p><h4 style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;margin-left:7.5000pt;"><strong><span
        style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">十、合同终止和解除</span></strong></h4>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;margin-left:7.5000pt;text-indent:24.0000pt;">
        <span style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">本合同期限届满或本合同约定的其他终止情形发生时，本合同终止。除合同另有约定外，合同履行过程中，一方经书面通知对方且经双方协商一致后，可解除本合同。本合同终止或解除后：</span>
    </p>
    <ul>
        <li><span style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:15.0000pt;color:rgb(0,0,0);">1.&nbsp;</span><strong><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">画版有权删除平台上已发布的您信息，且有权拒绝提供相关信息；</span></strong>
        </li>
        <li><span style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:15.0000pt;color:rgb(0,0,0);">2.&nbsp;</span><strong><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">本合同终止前您已与用户达成的尚未履行完毕的订单，您应按照本合同、信息、及订单、平台规则等的约定继续履行相应义务；</span></strong>
        </li>
        <li><span style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:15.0000pt;color:rgb(0,0,0);">3.&nbsp;</span><strong><span
                style="font-family:仿宋;color:rgb(0,0,0);font-size:15.0000pt;color:rgb(0,0,0);">您同意画版保存您资质信息、商品信息、交易记录等相关资料。</span></strong>
        </li>
    </ul>
    <h4 style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;margin-left:7.5000pt;"><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">十一、免责条款</span></strong></h4>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;margin-left:7.5000pt;text-indent:24.0000pt;">
        <strong><span style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">因战争、自然灾害、政府行为、互联网系统故障、互联网通讯提供商故障等不可抗力因素或第三方原因导致画版不能履行本合同项下义务，画版无须承担责任。</span></strong>
    </p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;"><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">&nbsp;</span></strong></p><h4
        style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;margin-left:7.5000pt;"><strong><span
        style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">十二、法律适用及争议解决条款</span></strong></h4>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.0000pt;text-align:left;">
        <span style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">1. 本协议的成立、有效性、解释、履行、签署、修订和终止以及争议的解决均应适用中华人民共和国法律。</span>
    </p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.1000pt;text-align:left;">
        <strong><span
                style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">2.&nbsp;</span></strong><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">因本合同引起的或与本合同有关的任何争议，双方应协商解决。协商不成的，任何一方均可将争议提交至有管辖权（画版）所在地法院。</span></strong>
    </p><h4 style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;margin-left:7.5000pt;"><strong><span
        style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">十三、附则</span></strong></h4>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.0000pt;text-align:left;">
        <span style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">1. 与本合同有关的全部通知，双方可选择采用书面、邮件或商家后台操作任一种方式变更及确认。</span>
    </p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.0000pt;text-align:left;">
        <span style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">2. 本合同正文不得涂改修订，如有未尽事宜，应另行签订书面补充合同。任何形式的口头协议均属无效。</span>
    </p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.0000pt;text-align:left;">
        <span style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">3. 本合同附件是本合同不可分割的组成部分，与本合同具有同等法律效力。</span></p>
    <p style="margin-top:6.0000pt;margin-right:7.5000pt;margin-bottom:6.0000pt;text-indent:30.0000pt;text-align:left;">
        <span style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">4.&nbsp;</span><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">本合同由您确认后，</span></strong><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">于您</span></strong><strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-weight:bold;font-size:20px;">的商品销售信息首次发布之日起生效</span></strong><span
            style="font-family:仿宋;color:rgb(0,0,0);font-size:20px;">。</span></p>
</div>


</body>
</html>
