<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>品牌厂家直供平台</title>
    </head>
    <body>
        <div style="text-align: center;">
            <h2>商品及溯源</h2>
            <a href="/new-product/linkage" target="_blank">发布商品</a>
            <a href="/new-sale/index" target="_blank">下架商品</a>
            <a href="/new-product/index" target="_blank">修改商品</a>
            <a href="/new-product/index" target="_blank">去配置溯源</a>
            <a href="/new-distributor/index" target="_blank">添加经销商</a>

            <h2>订单及发货</h2>
            <a href="/new-order/delivery-list" target="_blank">去发货</a>
            <a href="/new-order?order_status=4" target="_blank">查询已卖出的订单</a>

            <h2>收入及提现</h2>
            <a href="/new-settlement/index" target="_blank">卖货收入</a>
            <a href="/new-profit/index" target="_blank">分红收入</a>
            <a href="/new-withdrawal/apply?cash_money=6978" target="_blank">去提现</a>
            <a href="/new-order/cash-out" target="_blank">查询已提现的记录</a>

            <h2>版谷及客户</h2>
            <a href="/new-copyright/index" target="_blank">版谷中心</a>
            <a href="/new-user/index" target="_blank">我的客户</a>
            <a href="/new-score/index" target="_blank">赠送积分</a>

            <h2>活动</h2>
            <a href="/new-promotion/index?status=1" target="_blank">进行中的活动</a>
            <a href="/new-promotion/create" target="_blank">创建新活动</a>
            <a href="/new-promotion/index" target="_blank">活动管理</a>
        </div>
    </body>
</html>