.material-getAttribute-linkage-select-list-box::-webkit-scrollbar {
  -webkit-appearance: none;
}

.material-getAttribute-linkage-select-list-box::-webkit-scrollbar:vertical {
  width: 11px;
}

.material-getAttribute-linkage-select-list-box::-webkit-scrollbar:horizontal {
  height: 11px;
}

.material-getAttribute-linkage-select-list-box::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}

.material-box {
  width: 100%;
  flex: 1;
  overflow-y: scroll;
  padding: 30px;
}

.material-box .material-tit {
  width: 100%;
  height: 70px;
  background: #fff;
  display: flex;
  align-items: center;
}

.material-box .material-tit h1 {
  font-size: 16px;
  color: #2F323E;
  padding-left: 20px;
}

.material-box .material-tab-box {
  width: 100%;
  height: auto;
  padding-left: 26px;
  background: #fff;
}

.material-box .material-tab-box .material-tab {
  border-bottom: 1px solid #E9E9E9;
  display: flex;
  align-items: center;
}

.material-box .material-tab-box .material-tab .material-tab-list {
  padding: 9px 15px;
  border-bottom: 2px solid #fff;
  color: #2F323E;
  cursor: pointer;
}

.material-box .material-tab-box .material-tab .tab-list {
  border-bottom: 2px solid #FF7D2C;
}

.material-box .material-cont-box {
  width: 100%;
  height: auto;
  background: #fff;
}

.material-box .material-img-box,
.material-box .material-video-box {
  width: 100%;
  height: auto;
  background: #fff;
}

.material-box .material-img-box .material-img-box-tit,
.material-box .material-video-box .material-img-box-tit {
  width: 100%;
  height: 60px;
  padding-left: 50px;
  display: flex;
  align-items: center;
  color: #2F323E;
}

.material-box .material-video-box {
  display: none;
}

.material-box .material-getAttribute-box {
  display: none;
  width: 100%;
  height: auto;
  background: #fff;
  padding: 0 40px;
  padding-bottom: 40px;
}

.material-box .material-getAttribute-box .material-getAttribute-linkage-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
}

.material-box .material-getAttribute-box .material-getAttribute-linkage-box .material-getAttribute-linkage-box-l {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

.material-box .material-getAttribute-box .material-getAttribute-linkage-box .material-getAttribute-linkage-box-l h3 {
  font-size: 14px;
  color: #2F323E;
  font-weight: 600;
  margin-right: 20px;
}

.material-box .material-getAttribute-box .material-getAttribute-linkage-box .material-getAttribute-linkage-box-l .material-getAttribute-linkage {
  width: 276px;
  height: 34px;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}

.material-box .material-getAttribute-box .material-getAttribute-linkage-box .material-getAttribute-linkage-box-l .material-getAttribute-linkage .material-getAttribute-linkage-tit {
  width: 8em;
  height: 100%;
  background: #f0f2f8;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #667588;
  font-size: 13px;
}

.material-box .material-getAttribute-box .material-getAttribute-linkage-box .material-getAttribute-linkage-box-l .material-getAttribute-linkage .material-getAttribute-linkage-select {
  width: auto;
  flex: 1;
  min-width: 180px;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.material-box .material-getAttribute-box .material-getAttribute-linkage-box .material-getAttribute-linkage-box-l .material-getAttribute-linkage .material-getAttribute-linkage-select .material-getAttribute-linkage-select-val {
  width: 100%;
  height: 100%;
  color: #C7C8C9;
  font-size: 12px;
  line-height: 34px;
  padding-left: 10px;
}

.material-box .material-getAttribute-box .material-getAttribute-linkage-box .material-getAttribute-linkage-box-l .material-getAttribute-linkage .material-getAttribute-linkage-select img {
  position: absolute;
  right: 2px;
  top: 7px;
}

.material-box .material-getAttribute-box .material-getAttribute-linkage-box .material-getAttribute-linkage-box-l .material-getAttribute-linkage .material-getAttribute-linkage-select .material-getAttribute-linkage-select-list-box {
  position: absolute;
  top: 33px;
  width: auto;
  min-width: 100%;
  height: 320px;
  background: #fff;
  overflow-y: scroll;
  border: 1px solid #E8E8E8;
  border-radius: 0 0 5px 5px;
  z-index: 99;
}

.material-box .material-getAttribute-box .material-getAttribute-linkage-box .material-getAttribute-linkage-box-l .material-getAttribute-linkage .material-getAttribute-linkage-select .material-getAttribute-linkage-select-list-box li {
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.material-box .material-getAttribute-box .material-getAttribute-linkage-box .material-getAttribute-linkage-box-l .material-getAttribute-linkage .material-getAttribute-linkage-select .one-ul {
  display: none;
}

.material-box .material-getAttribute-box .material-getAttribute-linkage-box .material-getAttribute-linkage-box-l .material-getAttribute-linkage .material-getAttribute-linkage-select .two-ul {
  display: none;
}

.material-box .material-getAttribute-box .material-getAttribute-linkage-box .material-getAttribute-linkage-box-r {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.material-box .material-getAttribute-box .material-getAttribute-linkage-box .material-getAttribute-linkage-box-r button {
  padding: 4px 20px;
  border-radius: 15px;
  border: 0;
}

.material-box .material-getAttribute-box .material-getAttribute-linkage-box .material-getAttribute-linkage-box-r .addAttribute {
  background-image: linear-gradient(162deg, rgba(255, 0, 0, 0.49) 10%, #FFB900 135%);
  color: #FFFFFF;
}

.material-box .material-getAttribute-box .material-getAttribute-linkage-box .material-getAttribute-linkage-box-r .back {
  border: 1px solid #FF8544;
  color: #FF8544;
}

.material-box .material-getAttribute-box .material-getAttribute-linkage-box .material-getAttribute-linkage-box-r-none {
  display: none;
}

.material-box .material-getAttribute-box .material-getAttribute-list-box {
  width: 100%;
  height: auto;
}

.material-box .material-getAttribute-box .material-getAttribute-list-box .material-getAttribute-list-box-table {
  width: 100%;
  height: auto;
  border: 1px solid #E8F3FF;
  border-collapse: collapse;
}

.material-box .material-getAttribute-box .material-getAttribute-list-box .material-getAttribute-list-box-table tr {
  width: 100%;
  height: 50px;
}

.material-box .material-getAttribute-box .material-getAttribute-list-box .material-getAttribute-list-box-table .table-tit {
  width: 100%;
  height: 40px;
  background: #E8F3FF;
  border-collapse: collapse;
}

.material-box .material-getAttribute-box .material-getAttribute-list-box .material-getAttribute-list-box-table .table-tit th {
  font-size: 13px;
  width: 30%;
}

.material-box .material-getAttribute-box .material-getAttribute-list-box .material-getAttribute-list-box-table td {
  width: 30%;
  border: 1px solid #E8F3FF;
  text-align: center;
  font-size: 14px;
  position: relative;
}

.material-box .material-getAttribute-box .material-getAttribute-list-box .material-getAttribute-list-box-table td p {
  display: inline-block;
  position: relative;
}

.material-box .material-getAttribute-box .material-getAttribute-list-box .material-getAttribute-list-box-table td p img {
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  right: -20px;
  top: 1px;
}

.material-box .material-getAttribute-box .material-getAttribute-list-box .material-getAttribute-list-box-table td .span-edit {
  font-size: 13px;
  color: #FF8544;
  margin-left: 8px;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 15px;
}

.material-box .material-getAttribute-box .material-getAttribute-list-box .material-getAttribute-list-box-table-edit {
  display: none;
  width: 100%;
  height: auto;
  border: 1px solid #E8F3FF;
  border-collapse: collapse;
}

.material-box .material-getAttribute-box .material-getAttribute-list-box .material-getAttribute-list-box-table-edit tr {
  width: 100%;
  height: 50px;
}

.material-box .material-getAttribute-box .material-getAttribute-list-box .material-getAttribute-list-box-table-edit .table-tit {
  width: 100%;
  height: 40px;
  background: #E8F3FF;
  border-collapse: collapse;
}

.material-box .material-getAttribute-box .material-getAttribute-list-box .material-getAttribute-list-box-table-edit .table-tit th {
  font-size: 13px;
  width: 50%;
}

.material-box .material-getAttribute-box .material-getAttribute-list-box .material-getAttribute-list-box-table-edit td {
  width: 50%;
  border: 1px solid #E8F3FF;
  text-align: center;
  font-size: 15px;
}

.material-box .material-getAttribute-box .material-getAttribute-list-box .material-getAttribute-list-box-table-edit td span {
  font-size: 13px;
  color: #FF8544;
  cursor: pointer;
}

.material-box .material-getAttribute-box .material-getAttribute-list-box .material-getAttribute-list-box-table-edit td .edit-inp-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.material-box .material-getAttribute-box .material-getAttribute-list-box .material-getAttribute-list-box-table-edit td .edit-inp-box .edit-inp {
  width: 100px;
  height: 34px;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
  font-size: 13px;
  padding: 0 3px;
}

.material-box .material-getAttribute-box .material-getAttribute-list-box .material-getAttribute-list-box-table-edit td .edit-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.material-box .material-getAttribute-box .material-getAttribute-list-box .material-getAttribute-list-box-table-edit td .edit-box button {
  border-radius: 15px;
  width: 62px;
  height: 28px;
  font-size: 12px;
}

.material-box .material-getAttribute-box .material-getAttribute-list-box .material-getAttribute-list-box-table-edit td .edit-box .edit-T {
  background-image: linear-gradient(162deg, rgba(255, 0, 0, 0.49) 10%, #FFB900 135%);
  color: #fff;
  border: 0;
  margin-right: 13px;
}

.material-box .material-getAttribute-box .material-getAttribute-list-box .material-getAttribute-list-box-table-edit td .edit-box .edit-F {
  border: 1px solid #FF8544;
  border-radius: 15px;
  color: #FF8544;
}

.material-box .material-getAttribute-box .material-getAttribute-list-box .material-getAttribute-list-box-table-edit td .edit-box .edit-color {
  border: 1px solid #FF8544;
  border-radius: 15px;
  color: #FF8544;
}

.material-box .material-getAttribute-box .material-getAttribute-list-box .material-getAttribute-list-box-table-edit td .edit-text-none,
.material-box .material-getAttribute-box .material-getAttribute-list-box .material-getAttribute-list-box-table-edit td .edit-inp-box-none,
.material-box .material-getAttribute-box .material-getAttribute-list-box .material-getAttribute-list-box-table-edit td .edit-box-none,
.material-box .material-getAttribute-box .material-getAttribute-list-box .material-getAttribute-list-box-table-edit td .edit-btn-none {
  display: none;
}

.material-box .material-img-tabbox {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.material-box .material-img-tabbox .img-select {
  width: 80px;
  height: 30px;
  color: #FF8544;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.material-box .material-img-tabbox .img-select img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.material-box .material-img-tabbox .over {
  overflow: hidden;
}

.material-box .material-img-tabbox .over-list {
  height: 55px;
}

.material-box .material-img-tabbox .material-img-tab-l {
  flex: 1;
}

.material-box .material-img-tabbox .material-img-tab-l .material-img-tab-l-list {
  display: flex;
  flex-wrap: wrap;
}

.material-box .material-img-tabbox .material-img-tab-l .material-img-tab-l-list .material-img-tab-list {
  white-space: nowrap;
  text-align: center;
  padding: 8px 10px;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
  margin: 8px 30px 10px 0;
  cursor: pointer;
}

.material-box .material-img-tabbox .material-img-tab-l .material-img-tab-l-list .img-tab-list {
  border: 1px solid #FF8544;
  color: #FF8544;
}

.material-box .material-img-tabbox .material-img-tab-r {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 8px;
}

.material-box .material-img-tabbox .material-img-tab-r input {
  position: absolute;
  left: 116px;
  width: 80px;
  height: 30px;
  opacity: 0;
  cursor: pointer;
}

.material-box .material-img-tabbox .material-img-tab-r button {
  padding: 5px 12px;
  border-radius: 15px;
  border: 0;
  cursor: pointer;
}

.material-box .material-img-tabbox .material-img-tab-r .newlist-btn {
  border: 1px solid #FF8544;
  background: #fff;
  color: #FF8544;
}

.material-box .material-img-tabbox .material-img-tab-r .newimg-btn {
  background-image: linear-gradient(162deg, rgba(255, 0, 0, 0.49) 10%, #FFB900 135%);
  color: #fff;
  margin-left: 20px;
}

.material-box .material-img-prompt {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
  color: #898E93;
}

.material-box .material-img-prompt img {
  margin-left: 10px;
}

.material-box .material-img-cont {
  width: 100%;
  height: 330px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 45px;
}

.material-box .material-img-cont .material-img-cont-list-box {
  width: 12.5%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin-bottom: 15px;
}

.material-box .material-img-cont .material-img-cont-list-box .material-img-cont-list {
  width: 120px;
  height: 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.material-box .material-img-cont .material-img-cont-list-box .material-img-cont-list .img-cont-list-img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 1px solid #EDEDED;
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-box .material-img-cont .material-img-cont-list-box .material-img-cont-list .img-cont-list-img img {
  width: auto;
  height: 100%;
}

.material-box .material-img-cont .material-img-cont-list-box .material-img-cont-list .img-cont-list-name {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
}

.material-box .material-img-cont .material-img-cont-list-box .material-img-cont-list .img-cont-list-name input {
  font-size: 13px;
  text-align: center;
  width: 100%;
  height: 100%;
  border: 0;
  background: #fff;
}

.material-box .material-img-cont .material-img-cont-list-box .material-img-cont-list .img-cont-list-modify {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  right: 2px;
  display: none;
  cursor: pointer;
}

.material-box .material-img-cont .material-img-cont-list-box .material-img-cont-list .img-cont-list-modify .img-cont-list-modify-listbox {
  width: 70px;
  height: auto;
  position: absolute;
  top: 20px;
  right: 5px;
  z-index: 99;
  display: none;
}

.material-box .material-img-cont .material-img-cont-list-box .material-img-cont-list .img-cont-list-modify .img-cont-list-modify-listbox li {
  cursor: pointer;
  width: 100%;
  height: 36px;
  text-align: center;
  line-height: 36px;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.material-box .material-img-cont .material-img-cont-list-box .material-img-cont-list .img-cont-list-modify .img-cont-list-modify-listbox li:last-child {
  border: 0;
}

.material-box .material-img-cont .material-img-cont-list-box .material-img-cont-list-hover {
  background: #E8F3FF;
}

.material-box .material-img-cont .material-img-cont-list-box .material-img-cont-list-hover .img-cont-list-name {
  border: 1px solid #FF8544;
}

.material-box .material-img-cont .material-img-cont-list-box .material-img-cont-list-hover .img-cont-list-name input {
  color: #FF8544;
  background: #fff;
}

.mask-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

.mask-box .mask {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mask-box .mask .grouping-box {
  width: 405px;
  padding: 50px 30px;
  background: #fff;
  border-radius: 5px;
}

.mask-box .mask .grouping-box .grouping-box-listbox {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}

.mask-box .mask .grouping-box .grouping-box-listbox .grouping-box-list {
  padding: 8px 14px;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
  margin: 5px 5px;
  cursor: pointer;
}

.mask-box .mask .grouping-box .grouping-box-listbox .grouping-box-list-opt {
  border: 1px solid #FF8544;
  color: #FF8544;
}

.mask-box .mask .grouping-box .grouping-box-btnbox,
.mask-box .mask .grouping-box .create-box-btnbox {
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.mask-box .mask .grouping-box .grouping-box-btnbox input,
.mask-box .mask .grouping-box .create-box-btnbox input {
  width: 72px;
  height: 24px;
  border-radius: 15px;
  text-align: center;
  line-height: 24px;
  padding: 0;
}

.mask-box .mask .grouping-box .grouping-box-btnbox .grouping-box-btnbox-back,
.mask-box .mask .grouping-box .grouping-box-btnbox .create-box-btnbox-back,
.mask-box .mask .grouping-box .create-box-btnbox .grouping-box-btnbox-back,
.mask-box .mask .grouping-box .create-box-btnbox .create-box-btnbox-back {
  border: 1px solid #FF8544;
  color: #FF8544;
}

.mask-box .mask .grouping-box .grouping-box-btnbox .grouping-box-btnbox-next,
.mask-box .mask .grouping-box .grouping-box-btnbox .create-box-btnbox-next,
.mask-box .mask .grouping-box .create-box-btnbox .grouping-box-btnbox-next,
.mask-box .mask .grouping-box .create-box-btnbox .create-box-btnbox-next {
  background-image: linear-gradient(162deg, rgba(255, 0, 0, 0.59) 0%, #FFB900 160%);
  border: 0;
  color: #fff;
}

.mask-box .mask .grouping-box h1 {
  width: 100%;
  height: 30px;
  text-align: center;
}

.mask-box .mask .grouping-box .create-list {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.mask-box .mask .grouping-box .create-list .create-list-inp {
  width: 200px;
  height: 45px;
  border: 1px solid #E8E8E8;
  text-align: center;
  border-radius: 3px;
}

.layui-layer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-inp {
  width: 250px;
  height: 32px;
  text-align: center;
}
