.cards {
  width: 100%;
  height: auto;
  background: #fff;
  border-radius: 4px;
  min-height: 800px;
  padding: 0;
}

.tpl-content1, .tpl-content2 {
  width: 100%;
  height: auto;
  padding: 30px;
  border-bottom: 1px solid #E8E8E8;
}

.tpl-content1 .tpl-item-box, .tpl-content2 .tpl-item-box {
  width: 1005;
  display: flex;
  align-items: center;
}

.tpl-content1 .tpl-item, .tpl-content2 .tpl-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.tpl-content1 .tpl-item span, .tpl-content2 .tpl-item span {
  width: 100px;
  color: #666666;
  font-size: 14px;
  margin-right: 30px;
  text-align: right;
}

.tpl-content1 .tpl-item div, .tpl-content2 .tpl-item div {
  color: #222222;
}

.tpl-content1 .tpl-item .goods-title, .tpl-content2 .tpl-item .goods-title {
  display: flex;
  align-items: center;
}

.tpl-content1 .tpl-item .goods-title .text, .tpl-content2 .tpl-item .goods-title .text {
  margin-right: 20px;
}

.tpl-content1 .goods-img-box, .tpl-content2 .goods-img-box {
  padding: 10px 0;
}

.tpl-content1 .goods-img-box .goods-img, .tpl-content2 .goods-img-box .goods-img {
  margin-left: 128px;
  width: 100px;
  height: 100px;
}

.new-product-box-tit {
  width: 100%;
  height: auto;
  padding: 20px 30px 10px 30px;
  display: flex;
  align-items: center;
  background: #fff;
  font-size: 16px;
}

.new-product-box-tit span {
  display: block;
  width: 5px;
  height: 15px;
  background: #FF8544;
  margin-right: 5px;
}

.tpl-content2 {
  border: 0;
  padding: 0 30px;
}

.tpl-btn {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.table-b {
  width: 100%;
  padding: 30px;
}

.table-b .table-box {
  width: 100%;
  background: #F6F6F6;
  border: 1px solid #E8E8E8;
}

.table-b .table-box .table-box-t {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.table-b .table-box .table-box-t .table-box-t-information {
  display: flex;
  align-items: center;
}

.table-b .table-box .table-box-t .table-box-t-information span {
  color: #999999;
  font-size: 13px;
}

.table-b .table-box .table-box-t .table-box-t-information p {
  font-size: 13px;
  color: #222222;
  margin-left: 20px;
}

.table-b .table-box .table-box-c {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 14px 30px;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
}

.table-b .table-box .table-box-c .table-box-c-ImgText-box {
  width: 350px;
  height: 100%;
  display: flex;
  align-items: center;
}

.table-b .table-box .table-box-c .table-box-c-ImgText-box .table-box-c-Img {
  width: 60px;
  height: 60px;
}

.table-b .table-box .table-box-c .table-box-c-ImgText-box .table-box-c-Img img {
  width: 100%;
  height: 100%;
}

.table-b .table-box .table-box-c .table-box-c-ImgText-box .table-box-c-Text {
  flex: 1;
  height: 60px;
  padding: 3px 0 3px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.table-b .table-box .table-box-c .table-box-c-ImgText-box .table-box-c-Text h2 {
  font-size: 13px;
  width: 280px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.table-b .table-box .table-box-c .table-box-c-ImgText-box .table-box-c-Text em {
  font-size: 12px;
  color: #9A9A9A;
}

.table-b .table-box .table-box-c .table-box-c-text-box {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
}

.table-b .table-box .table-box-c .table-box-c-text-box p {
  font-size: 12px;
  color: #9A9A9A;
  margin-bottom: 5px;
}

.table-b .table-box .table-box-c .table-box-c-text-box span {
  font-size: 14px;
  color: #222222;
}

.table-b .table-box .table-box-b {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-b .table-box .table-box-b .table-box-b-l {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.table-b .table-box .table-box-b .table-box-b-l .table-box-b-l-list {
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.table-b .table-box .table-box-b .table-box-b-l .table-box-b-l-list span {
  font-size: 13px;
  color: #999999;
  margin-right: 10px;
}

.table-b .table-box .table-box-b .table-box-b-l .table-box-b-l-list p {
  font-size: 13px;
  color: #222222;
}

.table-b .table-box .table-box-b .table-box-b-r {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.table-b .table-box .table-box-b .table-box-b-r .table-box-b-r-tit {
  font-size: 13px;
  color: #999999;
}

.table-b .table-box .table-box-b .table-box-b-r .table-box-b-r-mon {
  font-size: 20px;
  color: #FF8544;
}

.table-b .table-box .table-box-b .table-box-b-r .table-box-b-r-end {
  font-size: 15px;
  color: #222222;
}
