@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: .14rem;
  font-family: "微软雅黑";
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.select2-selection__rendered {
  color: #222 !important;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
a{text-decoration: none}
ul {
  list-style: none;
}

li {
  list-style: none;
}

html {
  -webkit-touch-callout: none;
  font-size: 625%;
}

img {
  -webkit-touch-callout: none;
}

div {
  -webkit-touch-callout: none;
}

body {
  -webkit-touch-callout: none;
}

html {
  -webkit-touch-callout: none;
}

ul {
  -webkit-touch-callout: none;
}

li {
  -webkit-touch-callout: none;
}

a {
  -webkit-touch-callout: none;
}

input {
  outline: 0;
}

button {
  outline: 0;
}

button {
  cursor: pointer;
}

input::-webkit-input-placeholder {
  color: #999;
}

input::-ms-clear {
  display: none;
}

textarea::-webkit-input-placeholder {
  color: #999;
}

input {
  outline: none;
}

input:focus {
  outline: none;
}

.material-box::-webkit-scrollbar {
  /*隐藏滚轮*/
  display: none;
}

.store-info-wrap::-webkit-scrollbar {
  /*隐藏滚轮*/
  display: none;
}

.ShopFrontPage-r-bot::-webkit-scrollbar {
  -webkit-appearance: none;
}

.nav-l-bot::-webkit-scrollbar {
  -webkit-appearance: none;
}

.nav-l-bot::-webkit-scrollbar:vertical {
  width: 11px;
}

.ShopFrontPage-r-bot::-webkit-scrollbar:vertical {
  width: 11px;
}

.ShopFrontPage-r-bot::-webkit-scrollbar:horizontal {
  height: 11px;
}

.nav-l-bot::-webkit-scrollbar:horizontal {
  height: 11px;
}

.ShopFrontPage-r-bot::-webkit-scrollbar-thumb, .nav-l-bot::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-resizer {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  min-width: 1366px;
  overflow-y: hidden;
}

.ShopFrontPage-wrap {
  width: 100%;
  height: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.ShopFrontPage-wrap .ShopFrontPage-l {
  width: 280px;
  height: 100%;
  background: #fff;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-top {
  width: 100%;
  height: 80px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-top img {
  width: 50px;
  height: 50px;
  margin: 0 10px 0 10px;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-top span {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 14px;
  color: #2F323E;
  border-left: 1px solid #84868c;
  text-align: center;
  padding-left: 12px;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot .nav-list {
  cursor: pointer;
  width: 100%;
  height: auto;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot .nav-list li.list-item {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #EDEDED;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot .nav-list li.list-item .nav-tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  font-size: 18px;
  padding-left: 20px;
  position: relative;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot .nav-list li.list-item .nav-tit:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid #2F323E;
  border-top: none;
  border-left: none;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot .nav-list li.list-item .icon {
  position: relative;
  width: 20px;
  height: 20px;
  background: no-repeat;
  margin-right: 10px;
  background-size: 88px 110px;
  background-image: url(https://qiniu2.ac.vip/upload/75/d7bd776864274a11b00ef67f6adea68562ffcd4e09655bde40aa154c61a3ee.png?origin=sprite.png);
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot .nav-list li.list-item .icon.icon-shouye {
  background-position: -1px -23px;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot .nav-list li.list-item .icon.icon-shangpin {
  background-position: -45px -45px;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot .nav-list li.list-item .icon.icon-dindan {
  background-position: -23px -1px;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot .nav-list li.list-item .icon.icon-kehu {
  background-position: -1px -45px;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot .nav-list li.list-item .icon.icon-fenhong {
  background-position: -45px -1px;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot .nav-list li.list-item .icon.icon-sale {
  background-position: -67px bottom;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot .nav-list li.list-item .icon.icon-active {
  background-position: -23px bottom;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot .nav-list li.list-item.active .nav-tit {
  position: relative;
  color: #ff8544;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot .nav-list li.list-item.active .nav-tit:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 24px;
  background: #FF8544;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot .nav-list li.list-item.active .nav-tit:after {
  border-color: #FF8544;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot .nav-list li.list-item.active .nav-tit .icon.icon-shouye {
  background-position: -23px -23px;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot .nav-list li.list-item.active .nav-tit .icon.icon-shangpin {
  background-position: -67px -1px;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot .nav-list li.list-item.active .nav-tit .icon.icon-dindan {
  background-position: -23px -45px;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot .nav-list li.list-item.active .nav-tit .icon.icon-kehu {
  background-position: -1px -1px;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot .nav-list li.list-item.active .nav-tit .icon.icon-fenhong {
  background-position: -45px -23px;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot .nav-list li.list-item.active .nav-tit .icon.icon-sale {
  background-position: -45px bottom;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot .nav-list li.list-item.active .nav-tit .icon.icon-active {
  background-position: -1px bottom;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot .nav-list li.list-item .sub-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 44px;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot .nav-list li.list-item .sub-nav > li {
  width: 50%;
  height: 40px;
  text-align: justify;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot .nav-list li.list-item .sub-nav > li a {
  color: #555;
}

.ShopFrontPage-wrap .ShopFrontPage-l .nav-l-bot .nav-list li.list-item .sub-nav > li.active a {
  color: #FF8544;
}

.ShopFrontPage-wrap .ShopFrontPage-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  background: #edf1f5;
}

.ShopFrontPage-wrap .ShopFrontPage-r .nav-r {
  width: 100%;
  height: 80px;
  background: #fff;
  border-left: 1px solid #e8e8e8;
}

.ShopFrontPage-wrap .ShopFrontPage-r .nav-r .nav-r-top {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #edf1f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px 0 15px;
}

.ShopFrontPage-wrap .ShopFrontPage-r .nav-r .nav-r-top .nav-r-top-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ShopFrontPage-wrap .ShopFrontPage-r .nav-r .nav-r-top .nav-r-top-news .news-icon {
  margin-right: 40px;
  position: relative;
}

.ShopFrontPage-wrap .ShopFrontPage-r .nav-r .nav-r-top .nav-r-top-news .news-icon img {
  width: 16px;
  margin-top: 5px;
  cursor: pointer;
}

.ShopFrontPage-wrap .ShopFrontPage-r .nav-r .nav-r-top .nav-r-top-news .news-icon em {
  padding: 0 5px;
  border-radius: 10px;
  background: red;
  font-size: 12px;
  color: #fff;
  position: absolute;
  right: -16px;
  top: -2px;
}

.ShopFrontPage-wrap .ShopFrontPage-r .nav-r .nav-r-top .nav-r-top-news .news-icon .info-tit-box {
  width: 460px;
  height: auto;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 30px;
  background: #fff;
  border-radius: 8px;
  z-index: 99;
  border: 1px solid #ccc;
  -webkit-box-shadow: -2px -2px 1px #ccc;
  box-shadow: -2px -2px 1px #ccc;
  -webkit-box-shadow: 2px 2px 1px #ccc;
  box-shadow: 2px 2px 1px #ccc;
}

.ShopFrontPage-wrap .ShopFrontPage-r .nav-r .nav-r-top .nav-r-top-news .news-icon .info-tit-box p {
  width: 100%;
  line-height: 1.8;
}

.ShopFrontPage-wrap .ShopFrontPage-r .nav-r .nav-r-top .nav-r-top-news .news-list {
  height: 50px;
}

.ShopFrontPage-wrap .ShopFrontPage-r .nav-r .nav-r-top .nav-r-top-news .news-list li {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.ShopFrontPage-wrap .ShopFrontPage-r .nav-r .nav-r-top .nav-r-top-news .news-list .personal-list {
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 99;
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0 0 8px 8px;
  background: #fff;
  border: 1px solid #edf1f5;
}

.ShopFrontPage-wrap .ShopFrontPage-r .nav-r .nav-r-top .nav-r-top-news .news-list .personal-list li {
  width: 100%;
  height: 30px;
  color: #9699A4;
  font-size: 13px;
}

.ShopFrontPage-wrap .ShopFrontPage-r .nav-r .nav-r-top .nav-r-top-news .news-list .personal-list2 {
  display: block;
}

.ShopFrontPage-wrap .ShopFrontPage-r .nav-r .nav-r-bot {
  background: #fff;
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  border-bottom: 1px #e8e8e8 solid;
}

.ShopFrontPage-wrap .ShopFrontPage-r .nav-r .nav-r-bot div {
  font-size: 13px;
}

.ShopFrontPage-wrap .ShopFrontPage-r .nav-r .nav-r-bot div span {
  font-size: 13px;
}

.ShopFrontPage-wrap .ShopFrontPage-r .nav-r .nav-r-bot div .colorTit {
  color: #ff8544;
  font-size: 13px;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-y: scroll;
  padding: 30px;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform {
  background: #fff;
  width: 100%;
  height: 234px;
  padding-left: 16.6%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-one {
  position: absolute;
  width: 16.6%;
  height: 250px;
  background: #fff;
  left: 0;
  top: -8px;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-one .platform-one-top {
  width: 100%;
  height: 162px;
  background: url(../imgs/头像背景.png) no-repeat;
  background-size: cover;
  padding-top: 32px;
  padding-left: 5%;
  padding-right: 5%;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-one .platform-one-top .platform-imgbox {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-one .platform-one-top .platform-imgbox img {
  width: 56px;
  height: 56px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-one .platform-one-top p {
  text-align: center;
  font-size: 12px;
  color: #fff;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-one .platform-one-top .platformname {
  margin: 10px 0 6px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-one .platform-one-bot {
  width: 100%;
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.1);
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-one .platform-one-bot p {
  font-size: 12px;
  width: 100%;
  color: #2F323E;
  padding: 0 9%;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-one .platform-one-bot p span {
  color: #FF8544;
  font-weight: 600;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-one .platform-one-bot .one-bot-c {
  text-align: center;
  font-size: 12px;
  margin: 5px 0;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-one .platform-one-bot .one-bot-r {
  cursor: pointer;
  text-align: end;
  color: #FF8544;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-one .platform-one-bot .one-bot-r a {
  color: #FF8544;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-two {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-two .platform-two-t {
  width: 100%;
  font-size: 14px;
  color: #54667A;
  line-height: 19px;
  margin-top: 26px;
  margin-left: 30px;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-two .platform-two-c {
  font-family: MicrosoftYaHei-Bold;
  font-size: 30px;
  color: #FF8544;
  font-weight: 600;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-two .platform-two-c span {
  font-size: 18px;
  font-weight: 600;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-two .platform-two-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 50px;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-two .platform-two-b button {
  width: 67.7px;
  height: 31px;
  border-radius: 24px;
  border: 0;
  color: #fff;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-two .platform-two-b .btn-l {
  background-image: linear-gradient(154deg, rgba(255, 0, 0, 0.49) 0%, #FFB900 100%);
  margin-right: 15px;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-two .platform-two-b .btn-r {
  background-image: linear-gradient(158deg, #1797FF 0%, rgba(67, 197, 255, 0.65) 100%);
  margin-left: 15px;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .linearbox {
  width: 1px;
  height: 100%;
  padding: 36px 0;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .linearbox p {
  width: 1px;
  height: 100%;
  background: #E8E8E8;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-three {
  width: 32%;
  height: 100%;
  border-right: 1px solid #E8E8E8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-three .three-wallet {
  width: 100%;
  height: 45%;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-three .three-wallet-two {
  width: 100%;
  height: 55%;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-three .wallet-t {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 26px 22px 0 26px;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-three .wallet-t span {
  font-size: 14px;
  color: #54667A;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-three .wallet-t a {
  color: #BAC0C8;
  font-size: 12px;
  cursor: pointer;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-three .wallet-t a img {
  margin-left: 3px;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-three .wallet-t a:hover {
  color: #FF8544;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-three .wallet-b {
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #2F323E;
  font-weight: 600;
  margin-top: 20px;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-four {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  padding: 26px;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-four .four-t {
  width: 100%;
  height: 50%;
  border-bottom: 1px solid #E8E8E8;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-four .four-t .wallet-t {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-four .four-t .wallet-t span {
  font-size: 14px;
  color: #54667A;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-four .four-t .wallet-t a {
  cursor: pointer;
  color: #BAC0C8;
  font-size: 12px;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-four .four-t .wallet-t a img {
  margin-left: 3px;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-four .four-t .wallet-t a:hover {
  color: #FF8544;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-four .four-t .wallet-b {
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #2F323E;
  font-weight: 600;
  margin-top: 20px;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-four .four-b {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-four .four-b .four-b-l,
.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-four .four-b .four-b-r {
  cursor: pointer;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-four .four-b .four-b-l h3,
.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-four .four-b .four-b-r h3 {
  font-size: 16px;
  color: #2F323E;
  font-weight: 600;
  padding-top: 20px;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-four .four-b .four-b-l h4,
.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-four .four-b .four-b-r h4 {
  font-size: 14px;
  color: #54667A;
  margin-top: 20px;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-four .four-b .four-b-l:hover h3,
.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-four .four-b .four-b-l:hover h4 {
  color: #FF8544;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-four .four-b .four-b-r:hover h3,
.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .platform .platform-four .four-b .four-b-r:hover h4 {
  color: #FF8544;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .icon-list {
  width: 100%;
  height: 200px;
  background: #fff;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .icon-list .list-box {
  width: 20%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .icon-list .list-box a {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .icon-list .list-box h3 {
  font-size: 14px;
  color: #2f3a3e;
  font-weight: 600;
  padding-top: 20px;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .icon-list .list-box .list-box-img2 {
  display: none;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .icon-list .list-box2 {
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .icon-list .list-box2 .list-box-img {
  display: none;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .icon-list .list-box2 .list-box-img2 {
  display: block;
}

.ShopFrontPage-wrap .ShopFrontPage-r .ShopFrontPage-r-bot .statistical {
  width: 100%;
  height: 350px;
  background: #fff;
  margin-top: 30px;
}

#layer-showqr-box {
  display: none;
  background: #fff;
  padding: 20px;
  height: auto;
}

#layer-showqr-box .qr-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px 0;
}

#layer-showqr-box .qr-item .item-label {
  min-width: 100px;
  text-align: right;
  color: #666;
  font-size: 16px;
}

#layer-showqr-box .qr-item .item-value {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 16px;
}

#layer-showqr-box .qr-item .item-value#value3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#layer-showqr-box .qr-item .item-value#value3 .item-img {
  width: auto;
}

#layer-showqr-box .qr-item .item-value#value3 .item-value-info {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#layer-showqr-box .qr-item .item-value#value3 .item-value-info > i {
  display: block;
}

.product-type-inp.choose-works, .product-type-inp.works-box {
  cursor: pointer;
}

.product-type-inp.choose-works .addimg, .product-type-inp.works-box .addimg {
  width: 120px;
  height: 120px;
  border: 1px dashed #C9D1DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.product-type-inp.choose-works .addimg:after, .product-type-inp.works-box .addimg:after {
  content: "选择版权码";
  width: auto;
  font-size: 14px;
  color: #C9D1DC;
}

.product-type-inp.choose-works .addimg img, .product-type-inp.works-box .addimg img {
  width: 60px;
  height: 60px;
}

.product-type-inp.choose-works .works-box, .product-type-inp.works-box .works-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.product-type-inp.choose-works .works-box img, .product-type-inp.works-box .works-box img {
  width: 100px;
  height: auto;
}

.product-type-inp.choose-works .works-box div, .product-type-inp.works-box .works-box div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 15px;
}

.product-type-inp.choose-works .works-box div p, .product-type-inp.works-box .works-box div p {
  color: #333;
  font-size: 16px;
}

.product-type-inp.choose-works .works-box div p:nth-child(2), .product-type-inp.works-box .works-box div p:nth-child(2) {
  color: #666;
  padding-left: 6px;
  margin: 15px 0;
}

.product-type-inp.choose-works .works-box div a.text-o, .product-type-inp.works-box .works-box div a.text-o {
  font-size: 14px;
}

.info-box .new-product-info > .creat-title {
  width: 300px;
  margin: auto;
  text-align: center;
}

.info-box .new-product-info > .creat-title i.title-img {
  width: 52px;
  height: 50px;
  display: block;
  background: url(https://qiniu2.ac.vip/upload/4d/b67585abc61333aaabc5b88ae367768c0c4e794c615947fbdf79b6465369cf.png?origin=active_css_sprites.png) no-repeat;
  background-size: 150px 50px;
  background-position: right;
  margin: 10px auto;
}

.new-product-btn-box {
  width: 600px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between !important;
}

.input-lg {
  width: 100%;
}

.information {
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.information .information-con {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.information p {
  height: 30px;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.information.warn {
  background: #FFF4F4;
  border: 1px solid #FF3E3E;
}

.information.warn .icon {
  width: 100px;
  background: url("https://qiniu2.ac.vip/upload/24/59a436b9808e520c6b27fa3c36c16b4bd9951216498a5bb3147ac637268737.png?origin=公告.png") no-repeat;
  background-size: 20px;
  padding-left: 30px;
  color: #ff3e3e;
  margin-right: 10px;
  height: 30px;
  line-height: 30px;
  background-position: left center;
  margin-left: 10px;
}

.information .lookmore {
  color: #FF3E3E;
  position: relative;
  height: 30px;
  line-height: 30px;
  width: 100px;
  padding-left: 12px;
  cursor: pointer;
  display: none;
}

.information .lookmore:after {
  position: absolute;
  border: 1px solid #FF3E3E;
  border-left: 0;
  border-top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  content: '';
  top: -3px;
  bottom: 0;
  width: 6px;
  height: 6px;
  left: 0;
  margin: auto;
}

.information .hidden {
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: right;
  padding-right: 20px;
  cursor: pointer;
}
