{extend name="layout/base" /}

{block name="seo"}
<title>{$title|default="品牌厂家直供平台"}</title>
{/block}

{block name="style"}
<link rel="stylesheet" href="__STATIC__/style/promotion_detail.css?{:config('huaban.css_version.version')}">
{/block}

{block name="title"}
<span>客户管理</span> /
<span class="colorTit">查看详情</span>
{/block}

{block name="content"}
<!-- 平台功能区 -->
<div class="ShopFrontPage-r-bot">
    <div class="cards">
        <!--<form action="" type="post">-->
        <div class="tpl-box">
            <!-- <div class="tpl-title">活动基础信息</div> -->
            <div class="tpl-content1" style="border: 0;">
                <div class="tpl-item-box">
                    <div class="tpl-item flex">
                        <span>客户手机号</span>
                        <div>{:optional($user, '————')->phone}</div>
                    </div>
                    <div class="tpl-item flex" style="margin-left:240px;">
                        <span>客户姓名</span>
                        <div>{:optional($user, '————')->username}</div>
                    </div>
                </div>

                <div class="tpl-item-box">
                    <div class="tpl-item flex">
                        <span>获客方式<b class="text-red">*</b></span>
                        <div>{$type==3?'溯源':''}</div>
                    </div>
                </div>

                <div class="tpl-item">
                    <span>客户领取版谷</span>
                    <div class="goods-item">
                        <div>
                            <div class="goods-title">
                                <p class="text">《{:optional($qrcodeDetail->works, '————')->works_name}》</p>
                                <p class="text">{:optional(optional($qrcodeDetail->works)->artister, '————')->real_name}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="goods-img-box">
                    <img class="goods-img" src="{:qiniu_domains().optional($qrcodeDetail->works, '————')->works_cover}" alt="" width="80px" height="80px">
                </div>
            </div>

        </div>
        <div class="tpl-btn">
            <a href="javascript:history.back()" class="btn btn-o btn-lg">关闭</a>
        </div>
    </div>
</div>
{/block}

{block name='js'}
<script>
    (function userphone(obj) {
        var phoneNum = obj.text();
        obj.html(phoneNum.replace(/(?=(\d{4})+$)/g, " "));
    })($(".userphone"));

    $(".back").click(function () {
        window.history.go(-1);
    });
</script>
{/block}
